*.pyc
media/bid_packages
media/cache
media/items
media/profile_images
settings.py
facebook_settings.py
settings_local.py
.idea
.swp
lib
src

venv

deploy.sh
nohup.out

!static/js/lib
!static/css/blueprint/src

