Django==1.5.1
MySQL-python==1.2.4
Pillow==2.2.1
South==0.7.6
argparse==1.2.1
django-admin-tools==0.5.1
-e git+https://github.com/tschellenbach/Django-facebook.git@df70e48f51b5881141cf9e4d776dadd5d1e837d9#egg=django_facebook-dev
django-paypal==0.1.2
django-tastypie==0.10.0
django-tastypie-swagger==0.1.1
gunicorn==18.0
mixpanel-py==3.0.0
newrelic==2.0.0.1
python-dateutil==2.1
python-mimeparse==0.1.4
six==1.4.1
sorl-thumbnail==11.12
wsgiref==0.1.2
