{% extends 'bidding/auctions/auction.html' %}
{% load routines_tags bidding_tags %}

{% block status_span %}
<span style="display: none;" class="my-upcoming-status status-span">Upcoming</span>
{% endblock %}


{% block time_left_header %}
Time To Start
{% endblock %}


{% block time_left_value %}
	<span class="tick_time">{{ auction.get_time_left|minutes_from_seconds }}</span>
	{% endblock %}



{% block controls_header %}
	<span class="bids_info"><span class="bids_left">{{ user|user_bids:auction }}</span> {{ auction.get_bid_type_display }} Left</span>
	<span style="display: none;" class="bids_input"><input id="precap_{{auction.id}}" type="text" name="bid1" value="{{ auction.minimum_precap }}" min="{{ auction.minimum_precap }}" /> {{ auction.get_bid_type_display }}</span>
{% endblock %}

{% block controls_value %}
	<div style="display: none;" class="btn place-button" onclick="precap_bid('{% url bidding_precap_bid %}', {{ auction.id }});
                                                                  this.blur();
                                                                  return false;">Place {{ auction.get_bid_type_display }}</div>
    <div style="display: none;" class="inprogress"><img src="{% static 'images/ajax-loader.gif' %}" /></div>
{% endblock %}

{% block price %}{%endblock%}

{% block bidder_header %}Completion{% endblock %}
{% block bidder_value %}100% / {{ auction.bidders.all|length }} Bidders{% endblock %}
