{% load chat_tags %}

<section class="item">
	<div id="auction_container_{{ auction.id }}" class="auction_container">
	{% if auction.status == 'precap' %}
    	{% include "bidding/auctions/auction_precap.html" %}
    {% endif %}
    {% if auction.status == 'processing' %}
    	{% include "bidding/auctions/auction_running.html" %}
    {% endif %}
    {% if auction.status == 'waiting' %}
    	{% include "bidding/auctions/auction_waiting.html" %}
    {% endif %}
    {% if auction.status == 'pause' %}
    	{% include "bidding/auctions/auction_paused.html" %}
    {% endif %}
    {% if auction.status == 'waiting_payment' or auction.status == 'paid' %}
    	{% include "bidding/auctions/auction_finished.html" %}
    {% endif %}
	</div>
	{% embed_chat user auction %}
</section>

