{% load routines_tags bidding_tags %}

    <header class="list-header create-promoted">
            {% if user.is_authenticated %}
            <h2>Your Promoted Auctions <!-- <a href="#">See All &rsaquo;</a> --></h2>
            <div class="clear"></div>
            {% endif %}
    </header>


<p>

<ul>
            {% with promoted_auctions as auctions %}
                {% block promoted_section %}
                    {% for auction in auctions %}

<li>{{auction.item.name}} <br/> [Share] <a href="http://bid711.com/promoted_redirected/{{auction.id}}">http://bid711.com/promoted/{{auction.id}}</a> </li> 

                    {% empty %}
                             There are currently no auctions.
                    {% endfor %}
                {% endblock %}
            {% endwith %}

</ul>

</p>
