
			<header class="list-header create-promoted">
					{% if user.is_authenticated %}
					<h2>Create Promoted Auctions <!-- <a href="#">See All &rsaquo;</a> --></h2>
					<div class="clear"></div>
					{% endif %}
			</header>

        <p>Promoted Auctions are awesome, you choose the product and create the auction<br/>
            then share with all people you want and finally earn 20% of the product retail price.<br/>
            <br/>
<form action="/create_promoted/" method="POST">
            Select item <select style="width:300px" name="pre_promoted_id">
		{% with pre_promoted_auctions as auctions %}
			{% block promoted_section %}
			    {% for auction in auctions %}
                         <option value="{{ auction.id }}">{{ auction.item }}</option>
			    {% empty %}
                         <option value="false">There are currently no auctions.</option>
			    {% endfor %}
			{% endblock %}
		{% endwith %}
            </select> <input type="submit" value="create" />
<input type="hidden" name="facebook_user_id" value="{{ facebook_user_id }}" />

</form>

        </p>		



