{% load routines_tags %}

<script type="text/javascript" src="{% static 'js/jquery.cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auctions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auctions_update.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wise.js' %}"></script>
<script type="text/javascript">
    
function perform_action(message) {
    console.log("perform_action");
       message = $.secureEvalJSON(message);
       var msg_type = message[0];
       switch (msg_type) {
           case "update":
             auct_update(message[1]);
             //FIXME patch
             {% block extra_update %}{% endblock %}
             break;
           case "time":
        	   set_time_data(message[1].time, '#auction_container_' + message[1].auction_id);
             break;
           case "chat":
             var message_element = auct_chat(message[1], 3);
             break;
           default:
             console.log(message);
       }
    }
    
var sessionid = $.cookies.get('sessionid');

stomp = new STOMPClient();
stomp.onopen = function() {
    console.log("Transport opened");
    }
stomp.onclose = function(code) {
    console.log("Transport closed %s", code);
    setTimeout("stomp.connect('{{ ORBITED_DOMAIN }}', 61613, sessionid, '')",1000);
    }
stomp.onconnectedframe = function(frame) {
    console.log("Connected frame: %s", frame.body);
    for (i in subscribeList){
        console.log(subscribeList[i]);
        stomp.subscribe(subscribeList[i][0], subscribeList[i][1]);
        }
        //stomp.subscribe('/topic/auction/', {exchange:''})
        //stomp.subscribe('/topic/online/', {exchange:''})
        //stomp.send('{"user":"connected"{% if user.is_authenticated %}, "username":"{{ user.username }}"{% endif %}}', '/topic/check_online/');
        {% if user.is_authenticated %}
        //stomp.subscribe('/topic/user/{{ user.get_profile.id }}/', {exchange:''})
        {% endif %}
    };
stomp.onerror = function(error) {
    console.log("Error: %s", error)
    }
stomp.onmessageframe = function(frame) {
    console.log("STOMP frame: ", frame);

    try{
        message = $.evalJSON(frame.body);
        }
    catch(err){
        console.log("ERROR ", err);
        return false;
        }

    if (frame.headers.destination=='/topic/online/') {
        stomp.send('{"sessionid":"'+sessionid+'"{% if user.is_authenticated %}, "username":"{{ user.username }}"{% endif %}}', '/topic/check_online/');
        }
    else if (frame.headers.destination.indexOf('/topic/auction/') > (0-1)) {
        //try{
            console.log("executing function from SERVER ", message['method'], message['params'])
            auction = wise.selectAuctionById(message['auction_id']);
            if (auction != undefined){
                auction[message['method']](message['params']);
                }
            else{
                console.log('auction id not found ', message['auction_id'])
                }
        //    }
        //catch(err){
        //    console.log("ERROR ", err)
        //    }
        }
    else if (frame.headers.destination=='/topic/main/'){
        main[message['method']](message['params']);
        }
    }


function stompInit(){
    console.log('Open connection');
    stomp.connect('{{ ORBITED_DOMAIN }}', 61613, sessionid, '');
    }


function disconnect_message() {
    stomp.send('{"user":"disconnected"{% if user.is_authenticated %}, "username":"{{ user.username }}"{% endif %}}', '/topic/check_online/')
    }
window.onbeforeunload = function() {
    disconnect_message();
    };
$(window).unload(function() {
    stomp.reset();
    })

//var elements = $('.tick_time');
setInterval("update_timers( $('.tick_time'))", 500); //CHECK

function sync(callback) {
console.log("sync "+$.toJSON(callback));
    $.get('{% url bidding_sync_timers %}', {}, function(data) {
        $.map(data, function(data){
        	set_time_data(data.time, '#auction_container_' + data.auction_id);
        })
    	
    	//$.map(data, set_time_data);
      	//FIXME patch
        {% block extra_sync %}{% endblock%}
        
        if(typeof(callback) != 'undefined') {
        	callback();
        }
    }, "json");
}

var clone = (function(){ 
  return function (obj) { Clone.prototype=obj; return new Clone() };
  function Clone(){}
}());




subscribeList = [['/topic/main/', {exchange:''}]]

var data = {}
function init() {
    console.log("init");
    $.get('/info/init', {}, function(data) {
    
        console.log('init data: ', data)
        
        main.aWiseTokenMyAuctions = new AliveWiseTokenMyAuctions(data['auctions_token_my']);
        main.aWiseTokenAvailableAuctions = new AliveWiseTokenAvailableAuctions(data['auctions_token_available'])
        main.aWiseTokenFinishedAuctions = new AliveWiseTokenFinishedAuctions(data['auctions_token_finished'])
        main.aWiseBidMyAuctions = new AliveWiseBidMyAuctions(data['auctions_bid_my']);
        main.aWiseBidAvailableAuctions = new AliveWiseBidAvailableAuctions(data['auctions_bid_available'])
        main.aWiseBidFinishedAuctions = new AliveWiseBidFinishedAuctions(data['auctions_bid_finished'])

        main.data = data;

        var tmp = main.aWiseTokenAvailableAuctions.components;
        for(i in tmp){
            tmp[i].enableEditBids()
        }
        var tmp = main.aWiseBidAvailableAuctions.components;
        for(i in tmp){
            tmp[i].enableEditBids()
        }

        //subscribe to all auctions
        tmp = []
        console.log('globalWise',globalWise)
        //append all auctions to an array
        for (i in globalWise){
            console.log('globalWise[i].data', globalWise[i].data)
            tmp.push(globalWise[i].data)
            }
        console.log('tmp', tmp)
        //subscribe to all shown auctions
        for (i in tmp){
            subscribeList.push(['/topic/auction/'+tmp[i]['id']+'/', {exchange:''}])
            }
        
        //stomp init 
        stompInit();
        
        }, "json");
    }

main = {
    appendAuction: function (params){
        console.log(params['bid_type'])
        // the status should always be precap for a new auction
        // create a WiseAuctionPrecap and put it in AliveWiseTokenAvailableAuctions
        if (params['bid_type'] == 'token'){
            main.aWiseTokenAvailableAuctions.appendAuction(params)
            }
        else{
            main.aWiseBidAvailableAuctions.appendAuction(params)
            }
        //register to auction/{{id}}/ channel
        console.log(['/topic/auction/'+params['id']+'/', {exchange:''}]);
        subscribeList.push(['/topic/auction/'+params['id']+'/', {exchange:''}])
        stomp.subscribe('/topic/auction/'+params['id']+'/', {exchange:''});
        },
    log: function (txt){
        console.log(txt)
        },
    callReverse: function(params){
        console.log('callReverse', main.data['facebook_id'], params['userIdentifier'])
        if(main.data['facebook_id'] == params['userIdentifier']){
            console.log('yep')

            $.get('/'+params['function']+'/', {}, function(data) {
                console.log(data)
                if (data.tokens!==undefined) { $('#user_tokens').text(data.tokens);}
                }, "json");


            }
        }
    }
    
$(document).ready(function() {
    sync(); //CHECK
    console.log('---------init------------')
    init();
});

function send_chat_message(auction_id) {
console.log("send_chat_message", auction_id);
console.log(globalWise)
console.log(globalWise[parseInt(auction_id)])
   var text = $('#msg_form_' + auction_id, globalWise[parseInt(auction_id)].dom).val()
   console.log(text)
   if (text) {
       var data = {'message':text, 'auction_id' : auction_id};
       $.post('{% url chat_send_message %}', data, function(data) { $('#msg_form_' + auction_id, globalWise[parseInt(auction_id)].dom).val(''); }, "json");
       }
    }
   
</script>
