{% extends "base_orbited.html" %}
{% load routines_tags %}

{% block outcontent %}

<section class="search-bar">
	<div class="header">Here you can browse & search for auctions</div>
	<input type="text" id="search_term" value="{{ term }}" placeholder="Type to search"/>
	<div class="auction-status">
		<div class="status-item" id="status">{{ status|default:status_choices.0 }}</div>
		<div class="auction-status-list">
			{% for choice in status_choices %}
			<div class="status-item choice" onclick="statusSelect(this)">{{ choice }}</div>
			{% endfor %}
		</div>
	</div>
	<div class="auction-category">
		<div class="category-item" id="category">{{ category_choices.0 }}</div>
		<div class="auction-category-list">
			{% for choice in category_choices %}
			<div class="category-item choice" onclick="categorySelect(this)">{{ choice }}</div>
			{% endfor %}
		</div>
	</div>
	
	<div id="wait" class="wait_image" style="display: none;">
		<img src="{% static "images/ajax-loader.gif" %}" />
	</div>
	
	<div class="clear"></div>
</section>

<div class="auction-selector">
		<ul>
			<li class="earn-chips-selector selected" 
				onclick="$('.real-items').hide(); $('.earn-chips').show(); $('.real-items-selector').removeClass('selected'); $('.earn-chips-selector').addClass('selected'); ">Play For Fun</li>
			<li class="real-items-selector" 
				onclick="$('.earn-chips').hide(); $('.real-items').show(); $('.earn-chips-selector').removeClass('selected'); $('.real-items-selector').addClass('selected'); ">Play For Real</li>
				<li class="real-items-selector" 
				onclick="$('.earn-chips').hide(); $('.real-items').show(); $('.earn-chips-selector').removeClass('selected'); $('.real-items-selector').addClass('selected'); ">Invite friends</li>
				<li class="real-items-selector" 
				onclick="$('.earn-chips').hide(); $('.real-items').show(); $('.earn-chips-selector').removeClass('selected'); $('.real-items-selector').addClass('selected'); ">Promoted Auctions</li>
		</ul>
	</div>
	
	<!-- Tab content -->
	<section class="auctions earn-chips">
	
		{% with page=tokens_page bid_type='token' %}
			{% include 'bidding/browse_auction_list.html' %}
		{% endwith %}
	
	</section> <!-- Auctions -->
	
	<section class="auctions real-items">
	
		{% with page=bids_page bid_type='bid' %}
			{% include 'bidding/browse_auction_list.html' %}
		{% endwith %}
	
	</section>


{% endblock %}

{% block extrajs %}
	{{ block.super }}
	{% include "bidding/auctions_stomp_scripts.html" %}


<script type="text/javascript">
	
	function execute_filters(){
		$('#wait').show();
		get_page('bid', 1);
		get_page('token', 1);
	}
	
	function get_page(bid_type, page_number) {
		
		data = {'bid_type' : bid_type, 
				'page_number' : page_number,
				'category' : $('#category').text(),
				'status' : $('#status').text(),
				'term' : $('#search_term').val()}
		$.post('{% url bidding_update_browse %}', data, update_page, "json");	
	}
	
	function update_page(data) {
		
		if (data.bid_type == 'token') {
			$('.earn-chips').html(data.content);
		} else if (data.bid_type == 'bid') {
			$('.real-items').html(data.content);
		}
		
		show_edit_bids();
		$('.status-span').show();
		
		sync(function(){$('#wait').hide()});		
	}
	
	//PATCH to show status label un single auction update
	function extra_update_work(){
		$('.status-span').show();
	}
	
	
	$(document).ready(function() {
		
		//show status labels
		$('.status-span').show();
		
		$('.choice').each(function(){$(this).click(execute_filters)});
		
		$('#search_term').keydown(function(e) {
            if(e.keyCode == 13) {
            	execute_filters();
            }
    		});
		
		$('#search_term').autocomplete({
			source: "{% url bidding_autocomplete %}",
			minLength:3,
			select: function(event, ui){
				$('#search_term').val(ui.item.value);
				execute_filters();
			}
		});
		
	});
</script>

<script type="text/javascript">
	var animationCompleted = true;
	var effectTime = 100;
	
	function statusSelect(obj) {
		$('#status').html( $(obj).html());
		$('.auction-status-list').fadeOut(effectTime);
	}
	
	function categorySelect(obj) {
		$('#category').html( $(obj).html());
		$('.auction-category-list').fadeOut(effectTime);
	}
	
	function sortSelect(obj) {
		$('#sort').html( $(obj).html());
		$('.auction-sort-list').fadeOut(effectTime);
	}
	
	$(document).ready(function() {
	
		// Fade in status list
		$('.auction-status').mouseenter(function() {
			if (animationCompleted) {		
				animationCompleted = false;
				$('.auction-status-list').fadeIn(effectTime, function() {
					animationCompleted = true;
				});
			}	
		});
		
		// Fade out status list		
		$('.auction-status-list').mouseleave(function() {
			$('.auction-status-list').fadeOut(effectTime);
		});
	
		// Fade in category list
		$('.auction-category').mouseenter(function() {
			if (animationCompleted) {		
				animationCompleted = false;
				$('.auction-category-list').fadeIn(effectTime, function() {
					animationCompleted = true;
				});
			}	
		});
	
		// Fade out categroy list
		$('.auction-category-list').mouseleave(function() {
			$('.auction-category-list').fadeOut(effectTime);
		});

		// Fade in sort list
		$('.auction-sort').mouseenter(function() {
			if (animationCompleted) {		
				animationCompleted = false;
				$('.auction-sort-list').fadeIn(effectTime, function() {
					animationCompleted = true;
				});
			}	
		});
		
		// Fade out sort list		
		$('.auction-sort-list').mouseleave(function() {
			$('.auction-sort-list').fadeOut(effectTime);
		});
	});
	
</script>
{% endblock %}
