{% extends "base_section.html" %}

{% block title %}Buy BIDs{% endblock %}
{% block contentheader %}Buy BIDs{% endblock %}

{% block graywindowcontent %}
<div class="registration_form">
    <div class="ten_height_spacer footer"><!-- --></div>
    <div class="ten_height_spacer footer"><!-- --></div>
        Select your bids package:
        <div class="bids_packages_box">
            {% for package, form in packages %}
            <div class="bid_package">
               <label for="id_{{ package.slug }}" class="pid_package_image" {% if package.image %}style="background:transparent url({{ package.image.url }}) left top no-repeat;"{% endif %}></label>
			   <div class="ten_height_spacer footer"><!-- --></div>
               {% if debug %}
               {{ form.sandbox }}
               {% else %}
               {{ form.render }}
               {% endif %}
            </div>
            {% endfor %}
			<div class="ten_height_spacer footer"><!-- --></div>
        </div>
		<div class="ten_height_spacer footer"><!-- --></div>
		<!--
        Select your method of payment:
        <div class="bids_packages_payment">
            <div class="bids_payment_raw">
                <div class="bids_package_selector">
                    <input id="checkout_visa" type="radio" value="direct" name="payment" checked="checked"/>
                    <label class="visa_checkout" for="checkout_visa"></label>
                </div>
                <div class="bids_package_description">
                    Fast and easy way to buy bids. Everything you need is your card.
                </div>
            </div>
            <div class="bids_payment_raw">
                <div class="bids_package_selector">
                    <input id="checkout_paypal" type="radio" value="express" name="payment" checked="checked"/>
                    <label class="visa_checkout paypal_checkout" for="checkout_paypal"></label>
                </div>
                <div class="bids_package_description">
                    Safer way to buy bids. You don't have to enter your cards credentials. But you need a Paypal account.
                </div>
            </div>
        </div>
        <button class="big_blue_button buy_bids_submit" type="submit">
            <span>CONTINUE...</span>
        </button> -->
        <div class="ten_height_spacer"><!-- --></div>
</div>
{% endblock %}
