{% extends "ibidgames_base_section.html" %}


{% load thumbnail %}

{% block graywindowcontent %}
		<div class="registration_form">
			<div class="ten_height_spacer"><!-- --></div>
			<div class="gray_header_left"></div>
			<div class="gray_header_right"></div>
			<div class="gray_header no_margin_ie6">Won item: {{ auction.item.name }}</div>
			<div class="white_window_bg">
				<div class="ten_height_spacer"><!-- --></div>
				<div class="item_description_pictures">
					<img src="{% thumbnail auction.item.itemimage_set.all.0.image.name "202x202" as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ auction.item.name }}">
				</div>
				<div class="won_item_price">Price:&nbsp;<b class="green_text">${{ auction.won_price }}</b></div>
			</div>
			<div class="white_left_corner"><!-- --></div>
			<div class="white_right_corner"><!-- --></div>
			<div class="white_bar no_margin_ie6"><!-- --></div>
			<div class="ten_height_spacer"><!-- --></div>
{% if auction.status == 'waiting_payment' %}

	{% if debug %}
	{{ form.sandbox }}
	{% else %}
	{{ form.render }}
	{% endif %}

{% else %} {% if auction.status == 'paid' %}

           <div>Item paid! you will receive the product in your paypal address.</div>

{% endif %}{% endif %}
			<div class="ten_height_spacer"><!-- --></div>
		</div>
{% endblock %}

