{% load routines_tags %}
<!DOCTYPE html>
{% templatetag openvariable %} current_user_db.fb_name {% templatetag closevariable %}
<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>iBidGames</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <style>
             .bidEnabled {
                 background-image: url("{% static 'images/btn-bid-play.png' %}");
                 width: 94px;
                 height: 94px;
             }
             .bidDisabled {
                 background-image: url("{% static 'images/btn-bid-play-disabled.png' %}");
                 width: 94px;
                 height: 94px;
             }
            .btnRedEnabled {
                -moz-border-radius: 4px;
                border-radius: 4px;
                background-color: #1a82f7;
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(
                #cf4a4a), to(
                #9f2222));
                background-image: -webkit-linear-gradient(top,
                #cf4a4a,
                #9f2222);
                background-image: -moz-linear-gradient(top,
                #cf4a4a,
                #9f2222);
                background-image: -ms-linear-gradient(top,
                #cf4a4a,
                #9f2222);
                background-image: -o-linear-gradient(top,
                #cf4a4a,
                #9f2222);
                font-size: 12px;
                font-weight: bold;
                text-shadow: 1px 1px 1px #711e1e;
                box-shadow: 1px 1px 2px #bca4a4;
                color: #fff;
                line-height: 29px;
                display: block;
                cursor: pointer;
                opacity: 1;
                margin-top: 10px;
                -o-transition: .2s;
                -ms-transition: .2s;
                -moz-transition: .2s;
                -webkit-transition: .2s;
                transition: .2s;
            }
            .btnRedDisabled {
                -moz-border-radius: 4px;
                border-radius: 4px;
                background-color: #1a82f7;
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aeaeae), to(#7b7b7b));
                background-image: -webkit-linear-gradient(top,
                #aeaeae,
                #7b7b7b);
                background-image: -moz-linear-gradient(top,
                #aeaeae,
                #7b7b7b);
                background-image: -ms-linear-gradient(top,
                #aeaeae,
                #7b7b7b);
                background-image: -o-linear-gradient(top,
                #aeaeae,
                #7b7b7b);
                font-size: 12px;
                font-weight: bold;
                text-shadow: 1px 1px 1px #711e1e;
                box-shadow: 1px 1px 2px #bca4a4;
                color: #fff;
                line-height: 29px;
                display: block;
                cursor: pointer;
                opacity: 1;
                margin-top: 10px;
                -o-transition: .2s;
                -ms-transition: .2s;
                -moz-transition: .2s;
                -webkit-transition: .2s;
                transition: .2s;
            }


        </style>
        <script language="javascript">
            function preloadImage(url)
            {
                var img=new Image();
                img.src=url;
            }
            preloadImage("{% static 'images/btn-bid-play-disabled.png' %}");
        </script>
		<!---->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
{#        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js">#}
        <script src="{% static 'js/components.js' %}"></script>
{#        <script src="{% static 'js/resources.js' %}"></script>#}
        <!--script src="{% static 'js/wise.js' %}"></script-->
        <!--script src="{% static 'js/auctions.js' %}"></script-->

	</head>

	<body height=2000>
		<div id="main-wrapper">

			<div  id="top-wrapper">
				<div id="top">

					<div class="buttons">
						<a href="#"><div class="invite"></div></a>
						<a><div class="like"></div></a>
						<a><div class="share"></div></a>

					</div>
					<div class="logo">
						<a href="index.html"><img src="{% static 'images/logo.png' %}" width="293" height="105"></a>
					</div>
				</div>

                <div id="user-info" ng-controller="userDetailsCtrl">
					<div class="avatar"><img ng-src="{% templatetag openvariable %}profileFotoLink{% templatetag closevariable %}" width="50" height="50">
					</div>
					<div class="name">
						{% templatetag openvariable %}displayName{% templatetag closevariable %}
					</div>
					<div class="menu">
						<ul>
							<li>
								<a href="won-items.html">Won Items</a>
							</li>
							&nbsp;|&nbsp;
							<li>
								<a href="#">Auctions</a>
							</li>
							&nbsp;|&nbsp;
							<li>
								<a href="#">Currency history</a>
							</li>
						</ul>
					</div>
					<div class="tokens">
						TOKENS: {% templatetag openvariable %}tokens{% templatetag closevariable %}
					</div>
					<div class="credits">
						CREDITS: {% templatetag openvariable %}credits{% templatetag closevariable %}
					</div>
					<div class="btn-credits"></div>
				</div>
			</div>

			<div id="menu-wrapper">
				<div id="menu">
					<a href="#"><div class="btn-tokens"></div></a>
					<a href="#"><div class="btn-items"></div></a>
					<div class="links">
						<ul>
							<li>
								<a href="faq.html">FAQS</a>
							</li>
							&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;
							<li>
								<a href="winners.html">Winners</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="content-wrapper" ng-controller="AuctionsPanelController">
				<div class="color-frame-tokens"></div>
				<div id="user-auctions">
					<div class="title">
						Tuna's Upcoming Auctions
					</div>

                    <div ng-repeat="auction in auctionList.tokens.mine" >
                        <div id="auction"  >
                            <div  ng-switch on="auction.status">
                                <!-- TEMPLATE: precap -->
                                <div id="auction-top" ng-switch-when="precap">
                                    <div class="img">
                                        <img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
                                        <!--img src="{% static 'images/auction-img.jpg' %}" width="107" height="72"-->
                                    </div>
                                    <div id="auction-item-title" class="title-token">
                                        {% templatetag openvariable %}auction.itemTitle{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-retail-price">
                                        Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-status">
                                        <p>
                                            COMPLETION
                                        </p>
                                        {% templatetag openvariable %}auction.completion{% templatetag closevariable %}% / {% templatetag openvariable %}auction.bidders{% templatetag closevariable %} Bidders
                                    </div>
                                    <div id="auction-bids">
                                        <p>
                                            PLACED {% templatetag openvariable %}auction.placed{% templatetag closevariable %} TOKENS
                                        </p>
                                        <div id="auction-precap-bid">
                                            <span>{% templatetag openvariable %}auction.bids/5{% templatetag closevariable %}</span> Bids
                                        </div>
                                        <div id="btn-bid-plus" ng-click="addBids(auctionList.tokens.mine[$index])" ng-class="classes['btnRedEnabled'][auctionList.tokens.mine[$index].interface.addBidEnabled]" >
                                            +
                                        </div>
                                        <div id="btn-bid-less" class="btn-red" ng-click="remBids(auctionList.tokens.mine[$index])">
                                            -
                                        </div>

                                    </div>
                                    <div id="auction-btns">
                                        <div id="btn-invite-auction"><img src="{% static 'images/btn-invite-auction.png' %}" width="36" height="42">
                                        </div>
                                        <div id="btn-chat-auction"><img src="{% static 'images/btn-chat-auction.png' %}" width="36" height="43">
                                        </div>
                                    </div>

                                </div>

                                <!-- TEMPLATE: waiting -->
                                <div id="auction-top" ng-switch-when="waiting">
                                    <div class="img">
                                        <img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
                                    </div>
                                    <div id="auction-item-title" class="title-token">
                                        {% templatetag openvariable %}auction.itemTitle{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-retail-price">
                                        Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-play">
                                        <div class="syncing">
                                            SYNCING...
                                        </div>

                                    </div>

                                </div>


                                <!-- TEMPLATE: processing -->
                                <div id="auction-top" ng-switch-when="processing">
                                    <div class="img">
                                        <img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
                                    </div>
                                    <div id="auction-item-title" class="title-token">
                                        {% templatetag openvariable %}auction.itemTitle{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-retail-price">
                                        Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-play">
                                        <div class="time-left">
                                            <p>
                                                TIME LEFT
                                            </p>
                                            {% templatetag openvariable %}auction.timeleft{% templatetag closevariable %}
                                        </div>
                                        <div id="btn-bid-play">
                                            <a href="" ng-click="claim(auctionList.tokens.mine[$index])"><div ng-class="classes['bidEnabled'][auctionList.tokens.mine[$index].interface.bidEnabled]" class=""></div></a>
                                        </div>
                                        <div class="bids-left">
                                            <p>
                                                BIDS LEFT
                                            </p>
                                            {% templatetag openvariable %}auction.bids/5{% templatetag closevariable %}
                                        </div>
                                    </div>
                                </div>

                                <!-- TEMPLATE: pause -->
                                <div id="auction-top" ng-switch-when="pause">
                                    <div class="img">
                                        <img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
                                    </div>
                                    <div id="auction-item-title" class="title-token">
                                        {% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-retail-price">
                                        Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-play">
                                        <div class="time-left">
                                            <p>
                                                TIME LEFT
                                            </p>
                                            PAUSED
                                        </div>
                                        <div id="btn-bid-play">
                                            <a href="#"><img src="{% static 'images/btn-bid-play-disabled.png' %}" width="94" height="94"></a>
                                        </div>
                                        <div class="bids-left">
                                            <p>
                                                BIDS LEFT
                                            </p>
                                            18
                                        </div>
                                    </div>
                                </div>

                                <!-- TEMPLATE: waiting_payment -->
                                <div id="auction-top" ng-switch-when="waiting_payment">
                                    <div class="img">
                                        <img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
                                    </div>
                                    <div id="auction-item-title" class="title-token">
                                        {% templatetag openvariable %}auction.itemTitle{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-retail-price">
                                        Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
                                    </div>
                                    <div id="auction-status-winner">
                                        <p>
                                            WINNER
                                        </p>
                                        {% templatetag openvariable %}auction.winner{% templatetag closevariable %}
                                    </div>
                                </div>

                            </div>

                            <div id="auction-content">

                                <div id="auction-auctioneer">
                                    <div class="img">
                                        <img  src="{% static 'images/auctioneer.jpg' %}" height="109" width="106">
                                    </div>
                                    <div id="auctioneer-message" class="token">
                                        <div ng-repeat="message in auction.auctioneerMessages">
                                            <div ng-bind-html-unsafe="message.text"></div>
                                        </div>

                                        <div id="btn-acutioneer-up" class="scroll">
                                            <img src="{% static 'images/btn-auctioneer-down.png' %}" height="10" width="12">
                                            <img src="{% static 'images/btn-auctioneer-up.png' %}" height="10" width="12">
                                        </div>
                                        <div id="btn-acutioneer-down"></div>
                                    </div>

                                </div>

                                <div id="auction-chat">
                                    <p>
                                        LIVE CHAT
                                    </p>
                                    <div class="user">
                                        <div class="avatar">
                                            <img ng-src="{% templatetag openvariable %}profileFotoLink{% templatetag closevariable %}" width="50" height="50">
                                        </div>
                                        <div ><textarea class="imput-txt" style="width:505px" ng-model="message.data.text">Your message here</textarea></div>
                                        <div id="btn-chat-send" ng-click="sendChatMessage($index)">
                                            send
                                        </div>
                                    </div>
                                    <div class="chat-list">
                                        <div class="line" ng-repeat="message in messages">
                                            <div class="avatar">
                                                <img ng-src="{% templatetag openvariable %}message.user.profileFotoLink{% templatetag closevariable %}" width="40" height="40">
                                            </div>
                                            <div class="txt" >{% templatetag openvariable %}message.text{% templatetag closevariable %}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            			</div>
        			</div>
				</div>

				<div id="upcoming-auctions" >
					<div class="title">
						Other Upcoming Auctions
					</div>

					<div id="auction" ng-repeat="auction in auctionList.tokens.available">
						<div id="auction-top">
							<div class="img">
								<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
							</div>
							<div id="auction-item-title" class="title-token">
								{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
							</div>
							<div id="auction-retail-price">
								Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
							</div>
							<div id="auction-status">
								<p>
									COMPLETION
								</p>
								{% templatetag openvariable %}auction.completion{% templatetag closevariable %}% / {% templatetag openvariable %}auction.bidders{% templatetag closevariable %} Bidders
							</div>
							<div id="auction-bids">

								<div id="btn-start-bid" class="btn-red" ng-click="startBiding($index)">
									START BIDING
								</div>
							</div>
							<div id="auction-btns">
								<div id="btn-invite-auction"><img src="{% static 'images/btn-invite-auction.png' %}" width="36" height="42">
								</div>
								<div id="btn-chat-auction"><img src="{% static 'images/btn-chat-auction.png' %}" width="36" height="43">
								</div>
							</div>
						</div>
					</div>

				</div>
				<div id="finished-auctions">
					<div class="title">
						Recently Finished Auctions
					</div>
					<div id="auction" ng-repeat="auction in auctionList.tokens.finished">
						<div id="auction-top">
							<div class="img">
								<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}" width="107" height="72">
							</div>
							<div id="auction-item-title" class="title-token">
								{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
							</div>
							<div id="auction-retail-price">
								Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
							</div>
							<div id="auction-status-winner">
								<p>
									WINNER
								</p>
								{% templatetag openvariable %}auction.winner{% templatetag closevariable %}
							</div>

						</div>
					</div>

				</div>

			</div>

		</div>

    <div id=pubnub pub-key="pub-c-7a4bd941-9b92-47b3-931f-491fdccb3be1" sub-key="sub-c-ba10f43c-bbd2-11e2-a0b6-02ee2ddab7fe" origin="pubsub.pubnub.com"></div>
    <script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script>


	</body>

</html>
