{% extends "base.html" %}

{% block title %}Downloads{% endblock %}

{% block content %}
<div class="content_header">Downloads</div>
	<div class="content_body">
        <div class="faq_body">
        <h2>Facebook Auto Colorizer Plugin from yambid.com!</h2>
         
         <p>
         <ol class="download_page">
         <li>Install latest version of Firefox browser for your computer from <a href="http://www.mozilla.com/en-US/firefox/firefox.html">here.</a></li>
         <li><a href="/media/facebookautocolorizer.xpi">Download</a>&nbsp;our script.</li>
         <li>On the right of appeared bar select "Allow"<br/>
         <img src="{% static 'images/download_pic1.png' %}" alt="Press Allow"/>
         <li>In appeared window select "Install Now"<br/>
         <img src="{% static 'images/download_pic2.png' %}" alt="Install Now"/>
         <li>In appeared window press "Restart Now"<br/>
         <img src="{% static 'images/download_pic3.png' %}" alt="Restart Now"/>
         <li>Now in your Facebook profile when you change profile picture, your profile color fit's it :)</li>
         </ol>
         </p>
          
        </div>
	</div>
<div class="content_foter"><!-- --></div>
{% endblock %}
