{%  extends "base_orbited.html" %}

{%  block content %}

<section class="history">

<div class="transaction-list">
{%  if object_list %}

    {% for transaction in object_list %}
        <div class="transaction">
            <div class="transaction-date">{{  transaction.date }}</div>

            <div class="transaction-details">
            {%  if transaction.tokens_amount and transaction.bids_amount %}
                {# Transaction type tokens to bids #}
                Convert tokens in bids ({{ transaction.tokens_amount }} -> {{ transaction.bids_amount }})
            {% else %}
                {% if transaction.tokens_amount %}
                    {# Transaction type earn some tokens #}
                    Get tokens ({{ transaction.tokens_amount }})
                {% else %}
                    {% if transaction.bids_amount %}
                        {# Transaction type earn some bids #}
                        Buy bids ({{ transaction.bids_amount }})
                    {% else %}
                        This should not occur
                    {%  endif %}
                {% endif %}
            {%  endif %}
            </div>
            <div class="transaction-total">
            (Tokens: {{ transaction.total_tokens }}, Bids: {{ transaction.total_bids }}, Bidsto: {{ transaction.total_bidsto }})
            </div>
        </div>
    {% endfor %}
{%  else %}
    <h1>No transactions found</h1>
{%  endif %}
</div>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'history' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'history' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</section>

{%  endblock content %}
