{% load routines_tags %}
<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>iBidGames</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!---->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,500,600,700,800' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="main-wrapper">
			<div id="top-wrapper">
				<div id="top">

					<div class="buttons">
						<a href="#"><div class="invite"></div></a>
						<a><div class="like"></div></a>
						<a><div class="share"></div></a>

					</div>
					<div class="logo">
						<a href="index.html"><img src="{% static 'images/logo.png' %}" width="293" height="105"></a>
					</div>
				</div>
				<div id="user-info">
					<div class="avatar"><img src="{% static 'images/logo.png' %}" width="50" height="50">
					</div>
					<div class="name">
						Martino vicente
					</div>
					<div class="menu">
						<ul>
							<li>
								<a href="won-items.html">Won Items</a>
							</li>
							&nbsp;|&nbsp;
							<li>
								<a href="#">2 Auctions</a>
							</li>
							&nbsp;|&nbsp;
							<li>
								<a href="#">Currency history</a>
							</li>
						</ul>
					</div>
					<div class="tokens">
						TOKENS: 12345
					</div>
					<div class="credits">
						CREDITS: 45
					</div>
					<div class="btn-credits"></div>
				</div>
			</div>

			<div id="menu-wrapper">
				<div id="menu">
					<a href="#"><div class="btn-tokens"></div></a>
					<a href="#"><div class="btn-items"></div></a>
					<div class="links">
						<ul>

							<li class="on">
								FAQS
							</li>
							&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;
							<li>
								<a href="winners.html">Winners</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="content-wrapper">
				<div class="color-frame-none"></div>
				<div class="frame">
					<div class="title">
						Frequently asked Questions <span>(FAQ)</span>
					</div>
					<div class="faq">
						<p>
							How is Yambid different from other auction websites?
						</p>
						Unlike other auction websites, Yambid.com allows you to win top of the line products for a fraction of their retail price. We also have an interactive chat feature that will make bidding ten times more exciting than other sites.

						<p>
							How does Yambid make money?
						</p>
						We make our revenue strictly from the amount of bids we sell. Remember, bids are needed in order for you to win an item.

						<p>
							Who is considered a chat host?
						</p>
						A chat host is anyone with Auctioneer screen name. You can always privately message the host for any questions you may have.

						<p>
							How many accounts can I have?
						</p>

						You may have up to 3 accounts per household. Need more? You may send us an email requesting for more.

						<p>
							What is considered fraud?
						</p>

						Fraud will be having more accounts than the ones allowed. ALL of your accounts will be deleted and you will be banned from the site. You will also forfeit any auction winnings and remaining bids.

						<p>
							What does auction timer mean?
						</p>

						The auction timer is the clock that resets every time a new bid is placed on an item. Remember, the auction time for each item is predetermined by the auctioneer. As the competition on an item increases, the predetermined time for that item is decreased to give you a better chance of winning.

						<p>
							How long does the auction last?
						</p>

						The auction duration is strictly determined by the bidders (YOU). The goal is to be the last bidder when the timer hits zero.

						<p>
							How much does it cost to bid?
						</p>

						Yambid.com charges an admission fee of UP TO $1 per bid. You can purchase Bid packages to qualify for FREE bids.

						<p>
							How can I get free bids?
						</p>

						You can get free bids by initially registering, inviting friends, sending video testimonials of your winnings to us, and by buying bid packages with bonus bids.

						<p>
							How many auctions can I bid on?
						</p>

						You may participate in all auctions simultaneously.

						<p>
							What's the maximum I can bid?
						</p>

						You can bid as many times as you want but can only increase the bid by One cent.

						<p>
							How does auction price of an item increase?
						</p>

						The price increases in increments of a penny every time a bid is placed.

						<p>
							Can I withdraw my bids?
						</p>

						No. Once a bid is placed it is final.

						<p>
							Can I cash out my bids?
						</p>

						No. All bids purchased are non-transferable and non-refundable and may only be used by bidding on the Yambid marketplace.
						The winning bidder pays the final auction closing price.

						<p>
							How much is shipping?
						</p>

						Your shipping is free! Yambid.com will be handling your shipping charges.

						<p>
							How do I get my product?
						</p>

						Your product is shipped directly from Amazon.com </br>
						<img src="{% static 'images/amazonFullLogo.jpg' %}" height="59" width="139" style="margin-left:12px;">

						<p>
							How do you ship?
						</p>

						<img src="{% static 'images/up-fedex.jpg' %}" height="66" width="219" >

						<p>
							What payment methods do you accept?

						</p>

						<img src="{% static 'images/tarjetas.jpg' %}" height="40" width="223" style="margin-left:12px; margin-top:2px;" >

						<p>
							How long do I have to pay for the auction?
						</p>

						You have 72 hours to complete payment from the time the auction is closed. If payment is not received, Yambid reserves the right to list the item without prior notice.

						<p>
							What kind of warranty comes with the products purchased?
						</p>

						Most items come with a standard manufacturer warranty. Please log-on the manufacturer's site directly for any warranty related questions on your items.

						<p>
							What is your return policy?
						</p>

						All sales are FINAL. Yambid will gladly exchange any defective item if a claim is made within 7 days from the time the item is received.

						<p>
							Can I cancel my purchase?
						</p>

						When winning an item, you have agreed to purchase it. No cancellations.

						<p>
							How can you be reached?
						</p>

						You can reach us via email:
						(info@yambid.com)

						<p>
							Must I submit my picture if I win?
						</p>

						yambid reserves the right to contact and publish the winner's information on its website. On items valued at or over $1,000 US the auction winner must agree to a photo/video interview to be displayed on Yambid.com site and other marketing resources.

						The purpose of Yambid.com is to provide entertainment and great bargains.
						Yambid.com holds the right to refuse service/bidding rights to anyone.

					</div>

				</div>

			</div>

		</div>
	</body>

</html>
