{% load staticfiles %}
<!DOCTYPE html>
<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>iBidGames</title>
		<link rel="stylesheet" href="{% static "css/main.css" %}">
		<link rel="stylesheet" href="{% static "css/popup.css" %}">
		<script language="javascript">
function preloadImage(url) {
var img = new Image();
img.src = url;
}
preloadImage("{% static "images/btn-bid-play-disabled.png" %}");
preloadImage("{% static "images/welcome.png" %}");
preloadImage("{% static "images/help-img.png" %}");

		</script>

		<!---->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
		rel='stylesheet' type='text/css'>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="{% static "js/lodash.min.js" %}"></script>
		<script src="{% static "js/lib/jquery.json-2.2.min.js" %}"></script>
		<script src="{% static "js/lib/jquery.center.js" %}"></script>
		<script src="{% static "js/lib/TweenMax.min.js" %}"></script>
		<script src="{% static "js/base_header.js" %}"></script>
		<script src="{% static "js/auctions.js"%}" ></script>
		<script src="{% static "js/errorReport.js" %}"></script>
		<script src="{% static "js/tutorial.js" %}" ></script>

	</head>

	<body style="overflow: hidden">

		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId : '{{ fb_app_id }}',
                    channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
				});
				FB.Canvas.setAutoGrow();
			}; ( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {
						return;
					}
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
        </script>

		<div id="main-wrapper">

            <div id="base_header" ng-controller="userDetailsCtrl">
			<!--tutorial widget-->
			<div id="tooltip-help" style="position:absolute;top:200px;left:300px;z-index:1002; float:left;display:none;">
				<div class="img">
					<img src="{% static "images/help-img-small.png" %}" width="72" height="91">
				</div>
				<div class="box">

					<div class="close">
						x
					</div>
					<div class="text">
						<p>
							TITULOS TIUTLOS TITULOS
						</p>
						Mensajemensaje mensaje mensajem
					</div>
					<div id="btn-tutorial" style=" text-align:right;text-align:center;"><img src="{% static "images/btn-next.png" %}" />
					</div>
					<div style="width:100%;">
						<!--	<div id="arrow-position" style="width: 100%;float: left;">
						&nbsp;
						</div>-->
						<div style="float: left;"></div>
					</div>
					<div><img src="/static/images/pico.png" style="float: right; margin: 0px 30px -30px 0px;">
					</div>
				</div>

			</div>
			<!--buy credits popup-->
			<div class="buy-bids-popup" style="z-index:1001;display:none;">
				<div class="popup">
					<div class="title">
						<span class="close">×</span>
						<img style="position: absolute; top: -14px; left: -33px; opacity:8; width: 70px; height: 70px;"
						src="{% static "images/credits-big.png" %}">
						<h1 style="margin-left: 35px;">Buy Credits</h1>
					</div>
					<div class="info">
						<span style="color:#f36500; font-weight: 700; font-size: 16px;"><img src="{% static "images/icon-dollar.png" %}">Buy Credits</span></br>Buy your credits and get more chance to win auctions!
					</div>
					{% for package in packages %}
					<section>

						<div class="btn" onclick="buy_bids({% url "place_order" %}, {{ package.id }})">
							{{ package.description }}
						</div>
					</section>
					<!--<section>
					{% if package.description %}<span class="save">{{ package.description }}</span>{% endif %}
					<div class="btn" onclick="buy_bids({% url "place_order" %}, {{ package.id }})">
					{{ package.title }}
					</div>
					</section>-->
					{% endfor %}

					<hr>

					<div class="info">
						<span style="color:#f36500; font-weight: 700; font-size: 16px;"><img src="{% static "images/icon-tokens.png" %}">Convert Tokens to Credits</span>
						</br>You have <b class="number"><span id="convertible_tokens">{{ user.get_profile.tokens_left }}</span></b>
						Tokens and you can convert it up to
						<b class="number"><span id="maximun_bidsto">{{ user.get_profile.maximun_bids_from_tokens }}</span></b> Credits.
						<br>

						Please select the required amount of Credits.</br>
						<div class="warning"></div>
						<section>
							<select id="tokens_to_convert">
								{%  for conv in user.get_profile.gen_available_tokens_to_bids %}
								<option value={{ conv }}>{{ conv }}</option>
								{% endfor %}
							</select>
							Credits</br></br>
							<div class="btn" ng-click="convertChips()">
								Convert Now
							</div>
						</section>
					</div>
				</div>
			</div>
			<!--like popup-->
			<div class="like-popup" >
				<div class="popup">
					<div class="title">
						<span class="close">×</span>
						<h1>Like us!</h1>
					</div>
					<div class="info">
						<span style="color:#f36500; font-weight: 700; font-size: 16px;">Click the Like button below to like us!</span></br>Also remember to invite your friends, you will earn 1000 tokens for free.
					</div>
					<div style="margin: 30px 10px 10px 130px;">

						<div class="fb-like" data-href="https://apps.facebook.com/ibidgames/canvashome/" data-send="false"  data-width="300" data-show-faces="false"></div>
					</div>
				</div>
			</div>
			<!--friends invited popup-->
			<div class="friends-invited-popup">
				<div class="popup">
					<div class="title">
						<span class="close">×</span>
						<h1>Friends invited!</h1> &nbsp;
					</div>
					<div class="info">
						<span style="text-align:center ; font-size: 16px;">The invitations have been sent! Thank you!</span>
					</div>
				</div>
			</div>
			<!--friends invited NAMES popup-->
			<div class="friend-join" style="display:none">
						<div class="popup">
							<div class="title">
								<span class="close">×</span>
								<h1>New friend joined!</h1>
							</div>
							<div class="info">
								<span style="color:#f36500; font-weight: 700; font-size: 16px;">Your friends accepted the invitation:</span>
								</br>Friend one
								</br>Friend two
								</br>Friend three
								<div style="border-top: 1px solid #e0e0e0;padding: 20px 0 10px 0;margin-top: 20px;">
									<span style="color:#484848; font-weight: 700; font-size: 16px;">You won XXX tokens!</span>
								</div>
								<div class="btn-blue">INVITE MORE FRIENDS!</div>
							</div>

						</div>
					</div>

			<div id="top-wrapper">
				<div id="top">

					<div class="buttons">
						<div class="invite" ng-click="sendRequestViaMultiFriendSelector()"></div> 
						 <div class="like"></div>
						 <a style="width: 91px; display: block; height: 22px;" href="https://www.facebook.com/sharer/sharer.php?u=https://apps.facebook.com/ibidgames/" target="_blank"><div class="share"></div></a>

					</div>
					<div class="logo">
						<img src="{% static "images/logo.png" %}" width="293" height="105">
					</div>
				</div>

				<div id="user-info" ng-controller="userDetailsCtrl">
					<div class="avatar"><img
						ng-src="{% templatetag openvariable %}user.profileFotoLink{% templatetag closevariable %}" width="50"
						height="50">
					</div>
					<div class="name">
						{% templatetag openvariable %}user.displayName{% templatetag closevariable %}
					</div>
					<div class="menu">
						<ul>
							<li>
								<a href="/won_list/">Won Items</a>
							</li>
							<li>
								<a href="#" style="display: none;">Auctions</a>
							</li>
							<li>
								<a href="#" style="display: none;">Currency history</a>
							</li>
						</ul>
					</div>
					<div class="tokens">
						TOKENS: {% templatetag openvariable %}user.tokens{% templatetag closevariable %}
					</div>
					<div class="credits">
						CREDITS: {% templatetag openvariable %}user.credits{% templatetag closevariable %}
					</div>
					<div class="btn-credits" style=""></div>
				</div>
			</div>
			</div>

			<div id="content-wrapper" ng-controller="AuctionsPanelController">
				<div id="menu-wrapper">
					<div id="menu">
						<div class="btn-tokens" ng-click="playForTokens()"></div>
						<div class="btn-items" ng-click="playForItems()" ></div>
						<div class="links">
							<ul>
								<li>
									<a href="" id="interactiveTutotialBtn">Tutorial</a>
								</li>
								&nbsp; &nbsp;|&nbsp; &nbsp;
								<li style="display: none;">
									<a href="/faq/">FAQS</a>
								</li>
								<li>
									<a href="/winners/">Winners</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div ng-class="{'TOKENS':'color-frame-tokens','ITEMS':'color-frame-items'}[playFor]"></div>
				<div id="user-auctions">
					<div ng-class="{'TOKENS':'title','ITEMS':'title-items-sec'}[playFor]">
						{% templatetag openvariable %}user.displayName{% templatetag closevariable %}'s Upcoming Auctions
					</div>

					<div ng-repeat="auction in auctionList[playFor].mine">
						<input type="hidden" class="auction-id"
						value="{% templatetag openvariable %}auction.id{% templatetag closevariable %}"/>

						<div id="auction">
							<div ng-switch on="auction.status">
								<!-- TEMPLATE: precap -->
								<div id="auction-top" ng-switch-when="precap">
									<div class="img">
										<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
										<!--img src="{% static "images/auction-img.jpg" %}" width="107" height="72"-->
									</div>
									<div id="auction-item-title" ng-class="{'TOKENS':'title-token','ITEMS':'title-items'}[playFor]">
										{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
									</div>
									<div id="auction-retail-price">
										Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
									</div>
									<div id="auction-status">
										<p>
											COMPLETION
										</p>
										{% templatetag openvariable %}auction.completion{% templatetag closevariable %}% / {% templatetag openvariable %}auction.bidders{% templatetag closevariable %} Bidders
									</div>
									<div id="auction-bids">
										<p>PLACED {% templatetag openvariable %}auction.placed{% templatetag closevariable %} {% templatetag openvariable %}{'TOKENS':'TOKENS','ITEMS':'CREDITS'}[playFor]{% templatetag closevariable %}</p>

										<div id="auction-precap-bid">
											<span>{% templatetag openvariable %}auction.bids/auction.bidPrice{% templatetag closevariable %}</span> Bids
										</div>
										<div id="btn-bid-less" class="btn-red" ng-click="remBids(auctionList[playFor].mine[$index])">
											-
										</div>
										<div id="btn-bid-plus" ng-click="addBids(auctionList[playFor].mine[$index])"
										ng-class="{true:'btnRedEnabled', false:'btnRedDisabled'}[user.tokens>0]">
											+
										</div>

									</div>
									<div id="auction-btns">
										<div id="btn-invite-auction" class="disabled"><img src="{% static "images/btn-invite-auction-disabled.png" %}" width="36" height="42">
										</div>
										<div id="btn-chat-auction" class="disabled"><img src="{% static "images/btn-chat-auction-disabled.png" %}" width="36" height="43">
										</div>
									</div>

								</div>

								<!-- TEMPLATE: waiting -->
								<div id="auction-top" ng-switch-when="waiting">
									<div class="img">
										<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
									</div>
									<div id="auction-item-title" ng-class="{'TOKENS':'title-token','ITEMS':'title-items'}[playFor]">
										{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
									</div>
									<div id="auction-retail-price">
										Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
									</div>
									<div id="auction-play">
										<div class="syncing">
											SYNCING...
										</div>

									</div>

								</div>

								<!-- TEMPLATE: processing -->
								<div id="auction-top" ng-switch-when="processing">
									<div class="img">
										<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
									</div>
									<div id="auction-item-title" ng-class="{'TOKENS':'title-token', 'ITEMS':'title-items'}[playFor]">
										{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
									</div>
									<div id="auction-retail-price">
										Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
									</div>
									<div id="auction-play">
										<div class="time-left">
											<p>
												TIME LEFT
											</p>
											{% templatetag openvariable %}auction.timeleft{% templatetag closevariable %}
										</div>
										<div id="btn-bid-play">
											<a href="" ng-click="claim(auctionList[playFor].mine[$index])"> <div ng-class="{true:'bidEnabled', false:'bidDisabled'}[auctionList[playFor].mine[$index].interface.bidEnabled]"></div> </a>
										</div>
										<div class="bids-left">
											<p>
												BIDS LEFT
											</p>
											{% templatetag openvariable %}auction.bids/auction.bidPrice{% templatetag closevariable %}
										</div>
									</div>
								</div>

								<!-- TEMPLATE: pause -->
								<div id="auction-top" ng-switch-when="pause">
									<div class="img">
										<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
									</div>
									<div id="auction-item-title" ng-class="{'TOKENS':title-token,'ITEMS':'title-items'}[playFor]">
										{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
									</div>
									<div id="auction-retail-price">
										Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
									</div>
									<div id="auction-play">
										<div class="time-left">
											<p>
												TIME LEFT
											</p>
											PAUSED
										</div>
										<div id="btn-bid-play">
											<a href="#"><img src="{% static "images/btn-bid-play-disabled.png" %}" width="94" height="94"></a>
										</div>
										<div class="bids-left">
											<p>
												BIDS LEFT
											</p>
											{% templatetag openvariable %}auction.bids/auction.bidPrice{% templatetag closevariable %}
										</div>
									</div>
								</div>

								<!-- TEMPLATE: waiting_payment -->
								<div id="auction-top" ng-switch-when="waiting_payment">
									<div class="img">
										<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
									</div>
									<div id="auction-item-title" ng-class="{'TOKENS':title-token,'ITEMS':'title-items'}[playFor]">
										{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
									</div>
									<div id="auction-retail-price">
										Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
									</div>
									<div id="auction-status-winner">
										<p>
											WINNER
										</p>
										<a href="http://facebook.com/{% templatetag openvariable %}auction.winner.facebookId{% templatetag closevariable %}" target="_blank">{% templatetag openvariable %}auction.winner.firstName{% templatetag closevariable %}</a>
									</div>
								</div>

							</div>

							<div id="auction-content">

								<div id="auction-auctioneer">
									<div class="img">
										<img src="{% static "images/auctioneer.jpg" %}" height="109" width="106">
									</div>
									<div id="auctioneer-message" class="token">
										<div ng-repeat="auctioneerMessage in auction.auctioneerMessages">
											<div ng-bind-html-unsafe="auctioneerMessage.text"></div>
										</div>

										<div id="btn-acutioneer-up" class="scroll">
											<img style="margin-top: 40px; display:none;" src="{% static "images/btn-auctioneer-down.png" %}" height="40" width="42">
											<img style="display:none;" src="{% static "images/btn-auctioneer-up.png" %}" height="40" width="42" >
										</div>
										<div id="btn-acutioneer-down"></div>
									</div>

								</div>

								<div id="auction-chat">
									<div class="chat-title">
										Live chat
									</div>
									<div class="chat-container">
										<div class="chat-list">

											<div class="line" ng-repeat="chatMessage in auction.chatMessages">
												<div class="avatar">
													<img ng-src="{% templatetag openvariable %}chatMessage.user.profileFotoLink{% templatetag closevariable %}"
													width="30" height="30">
												</div>
												<div class="txt">
													<p>
														{% templatetag openvariable %}chatMessage.user.displayName{% templatetag closevariable %}
													</p>
													{% templatetag openvariable %}chatMessage.text{% templatetag closevariable %}
												</div>

											</div>

										</div>
									</div>
									<div class="user">

										<div style="margin: 0 auto; width: 685px;">
											<form ng-submit="sendChatMessage($index)">
												<input type="text" class="imput-txt" ng-model="auction.chatMessage"
												value="Your message here"/>
											</form>
										</div>
										<div class="enter-text">
											Press Enter to send
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="upcoming-auctions">
					<div ng-class="{'TOKENS':'title','ITEMS':'title-items-sec'}[playFor]">
						Other Upcoming Auctions
					</div>

					<div id="auction" ng-repeat="auction in auctionList[playFor].available">
						<input type="hidden" class="auction-id"
						value="{% templatetag openvariable %}auction.id{% templatetag closevariable %}"/>

						<div id="auction-top">
							<div class="img">
								<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
							</div>
							<div id="auction-item-title" ng-class="{'TOKENS':'title-token','ITEMS':'title-items'}[playFor]">
								{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
							</div>
							<div id="auction-retail-price">
								Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
							</div>
							<div id="auction-status">
								<p>
									COMPLETION
								</p>
								{% templatetag openvariable %}auction.completion{% templatetag closevariable %}% / {% templatetag openvariable %}auction.bidders{% templatetag closevariable %} Bidders
							</div>
							<div id="auction-bids">
								<div ng-switch on="auction.status">
									<div id="btn-start-bid" class="btn btn-red" ng-switch-when="precap" ng-click="startBiding(auctionList[playFor].available[$index])">JOIN AUCTION</div>
									<div id="btn-start-bid" class="btn btn-red btn-longtext" ng-switch-default disabled>ALREADY STARTED</div>
								</div>
							</div>
							<div id="auction-btns">
								<div id="btn-invite-auction"><img src="{% static "images/btn-invite-auction.png" %}" width="36"
									height="42">
								</div>
								<div id="btn-chat-auction"><img src="{% static "images/btn-chat-auction.png" %}" width="36"
									height="43">
								</div>
							</div>
						</div>
					</div>

				</div>
				<div id="finished-auctions">
					<div ng-class="{'TOKENS':'title','ITEMS':'title-items-sec'}[playFor]">
						Recently Finished Auctions
					</div>
					<div id="auction" ng-repeat="auction in auctionList[playFor].finished">
						<div id="auction-top">
							<div class="img">
								<img ng-src="{% templatetag openvariable %}auction.itemImage{% templatetag closevariable %}">
							</div>
							<div id="auction-item-title" ng-class="{'TOKENS':'title-token','ITEMS':'title-items'}[playFor]">
								{% templatetag openvariable %}auction.itemName{% templatetag closevariable %}
							</div>
							<div id="auction-retail-price">
								Retail price: ${% templatetag openvariable %}auction.retailPrice{% templatetag closevariable %}
							</div>
							<div id="auction-status-winner">
								<p>
									WINNER
								</p>
								<a href="http://facebook.com/{% templatetag openvariable %}auction.winner.facebookId{% templatetag closevariable %}" target="_blank">{% templatetag openvariable %}auction.winner.firstName{% templatetag closevariable %}</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="activateReportAnError" style="color:#fff; margin-top:15px; cursor:pointer; font-size: 12px ;text-align: center; font-weight: 600">
			report an error
		</div>
		<div id="reportAnError" style="display:none; text-align: center;">
			<form id="reportAnErrorForm">
				<textarea style="width: 450px;" id="reportAnErrorMessage"></textarea>
				<input type="hidden" name="gameStateData"/>
				</br>
				<input type="button" id="reportAnErrorBtn" value="SEND" />
			</form>
		</div>

		<div id="pubnub" sub-key="{{ PUBNUB_SUB }}" origin="pubsub.pubnub.com"></div>
		<script src="https://cdn.pubnub.com/pubnub-3.5.3.min.js"></script>

		<div id="overlay" style="position:absolute;
		top:0;
		left:0;
		right:0;
		opacity:0;
		bottom:0;
		background-color:rgba(0, 0, 0, 0.5);
		z-index:1000;"></div>
		<div id="overlay-tutorial">
			<div class="logo">
				<img src="{% static "images/logo.png" %}" width="293" height="105">
			</div>
			
			<div id="tutorial-dialog" style="position:relative;left:-800px;text-align: right;width:100%">

				<div style="position:relative;float:left;padding-top: 180px;z-index: 1003;"><img src="{% static "images/tutorial/prev.png" %}" id="prev" style="cursor:pointer;"/>
				</div>
				<div style="position:absolute;width:100%;text-align: center;"><img class="tutorial-img" src="" />
				</div>
				<div style="position:relative;float:right;padding-top: 180px;z-index: 1003;"><img src="{% static "images/tutorial/next.png" %}" id="next" style="cursor:pointer;"/>
				</div>
				<div style="position:relative;float:right;margin-top: -45px;z-index: 1003;"><img src="{% static "images/tutorial/close.png" %}" class="close" style="cursor:pointer; width: 75px"/>
				</div>
			</div>
		</div>

		<!--popup section-->
		<!--welcome widget-->
		<div id="welcome" style="display:none;">
			<div class="text">
				<p>
					Hi {{ member.user.first_name }}.</br> I'm Kenny, your interactive auctioneer.
				</p></br>
				<!--span>I think you are here because you want to buy items at <strong>90%</strong> off the retail cost.</br> I'll be leading all auctions and giving you tips on how to </br> play the interactive auction ™ game and win.
				<br/>
				</br></br> Are you ready?</br><strong> Let's get started with the Interactive Tutorial.</strong></span-->
				<br/>
				<br/>
				<span>Welcome to iBidGames!  I will be leading all auctions and giving you tips on how to
					play and win Facebook’s first interactive auction ™ game.
					<br/>
					Are you ready? </span>
			</div>
			<br/>
			<br/>
			<br/>
			<a href="#">
			<div class="btn-welcome">
				Let's get started with the Tutorial
			</div> </a>
		</div>
		<!--welcome popup-->
		{% if display_popup %}
		<script type="text/javascript">
			jQuery(document).ready(function() {
				initWelcome();
			})
		</script>
		{% endif %}

	</body>

</html>

