{% extends "base_orbited.html" %}

{% block title %}Auctions{% endblock %}

{% block outcontent %}

	<div class="auction-selector">
		<ul>
			<li class="earn-chips-selector"        onclick="$('.real-items').hide();$('.invite-friends').hide();$('.promoted-auctions').hide(); $('.earn-chips').show(); $('.real-items-selector').removeClass('selected');$('.invite-friends-selector').removeClass('selected');$('.promoted-selector').removeClass('selected'); $('.earn-chips-selector').addClass('selected'); ">Play for fun</li>
			<li class="real-items-selector"        onclick="$('.earn-chips').hide();$('.invite-friends').hide();$('.promoted-auctions').hide(); $('.real-items').show(); $('.earn-chips-selector').removeClass('selected');$('.invite-friends-selector').removeClass('selected');$('.promoted-selector').removeClass('selected'); $('.real-items-selector').addClass('selected'); ">Play for real</li>
			<li class="invite-friends-selector"    onclick="$('.real-items').hide();$('.earn-chips').hide();$('.promoted-auctions').hide(); $('.invite-friends').show(); $('.real-items-selector').removeClass('selected');$('.earn-chips-selector').removeClass('selected');$('.promoted-selector').removeClass('selected'); $('.invite-friends-selector').addClass('selected'); ">Invite Friends</li>
			<li class="promoted-selector selected" onclick="$('.real-items').hide();$('.invite-friends').hide();$('.earn-chips').hide(); $('.promoted-auctions').show(); $('.real-items-selector').removeClass('selected');$('.invite-friends-selector').removeClass('selected');$('.earn-chips-selector').removeClass('selected'); $('.promoted-selector').addClass('selected'); ">Promoted Auctions</li>
		</ul>
	</div>
	
	<section id="token_auctions" class="auctions earn-chips">
		{% with tokens_auctions as auctions %}
			{% block tokens_section %}
				{% include 'bidding/home_sections.html' %}
			{% endblock %}
		{% endwith %}
	</section>
	
	<section id="bid_auctions" class="auctions real-items">
		{% with bids_auctions as auctions %}
			{% block bids_section %}
				{% include 'bidding/home_sections.html' %}
			{% endblock %}
		{% endwith %}
	</section>

	<section id="invite_friends" class="auctions invite-friends">
    <div class="items">
<br/>
Invite friends and have free tokens!
<button onclick="sendRequestViaMultiFriendSelector();return false;"> invite friends </button>
<script type="text/javascript">
function requestCallback(back){
    console.log(back);
}

function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: 'My Great Request'
    }, requestCallback);
  }

</script>
<br/>
<br/>
</div>
	</section>


		{% block view_promoted_auction %}


<section class="auctions promoted-auctions" id="promoted_auctions">
    <div class="items">
		<div class="auction-list running promoted">
		{% block my_auctions33 %}
		<section id="view_promoted_auction" class="view_promoted_auction">
			<header class="list-header my-view-promoted">
					<h2>Your Upcoming Promoted Auction <!-- <a href="#">See All &rsaquo;</a> --></h2>
					<div class="clear"></div>
			</header>			


			{% with view_promoted_auction as auction %}
			{% include 'bidding/auctions/auction_widget.html' %}
        		{% endwith %}

		</section>
		{% endblock %}

		</div>

	</div>

</section>


		{% endblock %}
		






{% endblock %}


{% block extrajs %}
	
    {{ block.super }}
    
    {% include "bidding/auctions_stomp_scripts.html" %}
    
    <script type="text/javascript">
    $(function() {
    	
    	$('#my_auctions .search').keydown(function(e) {
            if(e.keyCode == 13) {
            	window.location.href='{% url "bidding_browse" %}?status=My auctions&term=' + $(this).val();
            }
        });
    	
    	$('#other_auctions .search').keydown(function(e) {
            if(e.keyCode == 13) {
            	window.location.href='{% url "bidding_browse" %}?term=' + $(this).val();
            }
        });
    	
    	$('#finished .search').keydown(function(e) {
            if(e.keyCode == 13) {
            	window.location.href='{% url "bidding_browse" %}?status=Finished&term=' + $(this).val();
            }
        });
    	
    	


      $('.earn-chips').hide();

      $('.promoted-auctions').show();



    });
    </script>
    
{% endblock %}

