{% extends "base.html" %}

{% block content %}
<div class="content_header">Profile information</div>
	<div class="content_body">
		<div class="profile_page">
            <ul>
                <li><a href="{% url auth_password_change %}"class="prof_page_ch_pass"><span>Change password</span></a></li>
                <li><a href="http://gravatar.com/" class="prof_page_ch_email"><span>Change chat avatar</span></a></li>
                <li><a href="{% url emailmanagement_list %}" class="prof_page_ch_icon"><span>Change your email</span></a></li>
                <li><a href="{% url bidding_auction_won_list %}" class="prof_page_won"><span>Won auctions</span></a></li>
            </ul>
		</div>
	</div>
<div class="content_foter"><!-- --></div>
{% endblock %}

