{% extends "base_section.html" %}

{% block title %}Activate Your 5 Free Bids Now!{% endblock %}
{% block contentheader %}Activate Your 5 Free Bids Now!{% endblock %}

{% block sectioncontent %}
    <div class="ten_height_spacer"><!-- --></div>
    <div class="registration_form confirmation_message">
        <p>Thank you for registration! Now activate your free bids:</p>
        <h2 class="red_text">1. Check your Email for Confirmation</h2>
        Don't forget to check your Spam folder!
        <h2 class="red_text">2. Login to Yambid.com and be a Winner!</h2>
        If you experience any issue talk with our auctioneer or send an email <a href="mailto:info@yambid.com?subject=Free Bids activation problem">info@yambid.com</a><br/>
        Add US to your address book to avoid future inconvenience.
    </div>
{% endblock %}
