body, h1, h2, h3, h4, h5, p, span, li, ul, a {
	margin: 0px;
	padding: 0px;
}
img, a {
	border: 0;
	border: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #0c85b8;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

a:hover {
	color: #666;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
body {
	width: 100%;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-image: url("../images/bkg-body2.jpg");
	padding-bottom: 30px;
}

#main-wrapper {
	width: 860px;
	background-image: url("../images/bkg-top.jpg");
	margin: 0 auto;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-color: #000;
	box-shadow: 0 0 10px #000;
}

#top-wrapper {
	height: 280px;
}

#top {
	margin-bottom: 45px;
}
#top .logo {
	margin: 0 auto;
	width: 293px;
	padding-top: 25px;
}

#top .buttons {
	position: absolute;
	margin-top: 58px;
	width: 860px;
}

#top .buttons .like {
	width: 87px;
	height: 24px;
	margin-bottom: 3px;
	background-image: url("../images/btn-test.png");
	display: block;
	background-repeat: no-repeat;
	background-position: -10px 0;
	opacity: 0.8;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#top .buttons .like:hover {
	background-position: 0 0;
	opacity: 1;
}

#top .buttons .share {
	width: 95px;
	height: 24px;
	background-image: url("../images/btn-share.png");
	display: block;
	background-repeat: no-repeat;
	background-position: -10px 0;
	opacity: 0.8;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#top .buttons .share:hover {
	background-position: 0 0;
	opacity: 1;
}
#top .buttons .invite {
	width: 126px;
	height: 38px;
	float: right;
	background-image: url("../images/btn-invite.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 10px 0;
	opacity: 0.8;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#top .buttons .invite:hover {
	background-position: 0 0;
	opacity: 1;
}

#user-info {
	width: 760px;
	height: 55px;
	margin: 0 auto;
	box-shadow: 3px 3px 7px #000;
	background-color: #fff;
	background-image: url("../images/bkg-userInfo.gif");
}

#user-info .avatar {
	width: 52px;
	height: 52px;
	margin: 1px 15px 0 1px;
	float: left;
}
#user-info .avatar img {
	border: 1px solid #9e9e9e;
}

#user-info .name {
	float: left;
	position: absolute;
	margin: 8px 0 0 65px;
	color: #484848;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	width: 335px;
}

#user-info .menu {
	float: left;
	position: absolute;
	margin: 30px 0 0 65px;
	color: #0c85b8;
	font-size: 11px;
	font-weight: 600;
	width: 335px;
}

#user-info .menu li {
	display: inline;
	list-style-type: none;
}
#user-info .menu .on {
	color: #666;
}
#user-info .menu li a:hover {
	display: inline;
	list-style-type: none;
	color: #666;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#user-info .tokens {
	width: 150px;
	float: left;
	position: absolute;
	margin: 19px 0px 0px 570px;
	text-align: center;
	color: #0574dc;
	font-size: 15px;
	text-shadow: 0px 1px 1px #fff;
	font-weight: 600;
}
#user-info .credits {
	width: 141px;
	float: left;
	position: absolute;
	margin: 16px 0 0 561px;
	text-align: center;
	color: #e13749;
	font-size: 18px;
	text-shadow: 0px 1px 1px #fff;
	font-weight: 600;
}

#user-info .btn-credits {
	width: 60px;
	height: 77px;
	margin: 0 0 0 699px;
	background-image: url("../images/btn-buy.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 0 -10px;
	opacity: 1;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	cursor: pointer;
}

#user-info .btn-credits:hover {
	background-position: 0 0;
	opacity: 1;
}

#menu-wrapper {

}

#menu-wrapper #menu {
	height: 69px;
	width: 760px;
	margin: 0 auto;
}

#menu-wrapper #menu .btn-tokens {
	width: 177px;
	height: 69px;
	margin: 0 0 0 0;
	background-image: url("../images/btn-playTokens.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 0 14px;
	opacity: 1;
	position: absolute;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	z-index: 10;
}
#menu-wrapper #menu .btn-tokens:hover {
	background-position: 0 0px;
	opacity: 1;
}

#menu-wrapper #menu .btn-items {
	width: 177px;
	height: 69px;
	position: absolute;
	margin: 0 0 0 160px;
	background-image: url("../images/btn-playItems.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 0 14px;
	opacity: 1;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#menu-wrapper #menu .btn-items:hover {
	background-position: 0 0px;
	opacity: 1;
}
#menu-wrapper #menu .links {
	float: right;
	margin: 30px 0 0 65px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}

#menu-wrapper #menu .links li {
	display: inline;
	list-style-type: none;
}
#menu-wrapper #menu .links .on {
	font-size: 15px;
	font-weight: 600;
}
#menu-wrapper #menu .links li a:hover {
	display: inline;
	list-style-type: none;
	color: #0aa7e9;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#menu-wrapper #menu .links li a {
	color: #fff;
}

#content-wrapper {
	padding-bottom: 60px;
	background-image: url("../images/bkg-content.jpg");
}
#content-wrapper .color-frame-none {
	width: 100%;
	height: 8px;
	background-color: #fff;
}
#content-wrapper .color-frame-tokens {
	width: 100%;
	height: 8px;
	background-color: #287aa1;
}
#content-wrapper .color-frame-items {
	width: 100%;
	height: 8px;
	background-color: #ac3030;
}
#content-wrapper #user-auctions {
	background-image: url("../images/bkg-content.jpg");
	width: 100%;
	padding-bottom: 30px;
}
#content-wrapper #user-auctions .title {
	color: #fff;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 0 0 33px;
	font-weight: 600;
	background-color: #3d8eb4;
}
#content-wrapper #user-auctions .title-items-sec {
	color: #fff;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 0 0 33px;
	font-weight: 600;
	background-color: #cc3e3e;
}

#content-wrapper #upcoming-auctions {
	padding-bottom: 30px;
	width: 100%;
	background-image: url("../images/bkg-content.jpg");
}
#content-wrapper #upcoming-auctions .title {
	color: #222;
	background-color: #9bcbe3;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 0 0 33px;
	font-weight: 600;
}
#content-wrapper #upcoming-auctions .title-items-sec {
	color: #222;
	background-color: #f39696;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 0 0 33px;
	font-weight: 600;
}
#content-wrapper #finished-auctions {

	width: 100%;
	background-image: url("../images/bkg-content.jpg");
}
#content-wrapper #finished-auctions .title {
	color: #222;
	background-color: #d3e6f0;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 0 0 33px;
	font-weight: 600;
}
#content-wrapper #finished-auctions .title-items-sec {
	color: #222;
	background-color: #f0d8d8;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 0 0 33px;
	font-weight: 600;
}

/*-------------------------------------------------------IFRAME TOKENS */

#auction {
	width: 791px;
	height: 100%;
	margin: 0px auto 0 auto;
}

#auction-top {

	position: relative;
	z-index: 100;
	background-image: url("../images/bkg-auction.png");
	width: 791px;
	height: 93px;
	margin: 10px auto 0 auto;
}
#auction-top .img {

	float: left;
	margin: 10px;
	position: absolute;
}
#auction-item-title {
	width: 243px;
	float: left;
	margin: 26px 0 0 143px;
	position: absolute;
	font-size: 20px;
	text-shadow: 0px 1px 1px #fff;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#auction-top .title-token {
	color: #6796c7;
	white-space: nowrap;
	width: 240px;
	text-overflow: ellipsis;
	overflow: hidden;
}
#auction-top .title-items {
	color: #f0485a;
}
#auction-retail-price {
	width: 243px;
	float: left;
	margin: 52px 0 0 143px;
	position: absolute;
	color: #6c6c6b;
	font-size: 12px;
	text-shadow: 0px 1px 1px #fff;
	font-weight: 600;
	text-transform: uppercase;
}
#auction-status {
	width: 188px;
	float: left;
	margin: 24px 0 0 389px;
	position: absolute;
	color: #484848;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

#auction-status p, #auction-bids p, #auction-status-winner p {
	color: #f16140;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 6px;
}
#auction-bids {
	width: 166px;
	float: left;
	margin: 24px 0 0 581px;
	position: absolute;
	color: #484848;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

#auction-status-winner {
	width: 397px;
	float: left;
	background-color: #fff;
	margin: 17px 0 0 389px;
	position: absolute;
	color: #484848;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 13px;
	padding-top: 8px;
}
.btn-red-tutorial {
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #1a82f7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(
	#cf4a4a), to(
	#9f2222));
	background-image: -webkit-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -moz-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -ms-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -o-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	text-shadow: 1px 1px 1px #711e1e;
	box-shadow: 1px 1px 2px #bca4a4;
	color: #fff;
	line-height: 29px;
	height: 40px;
	width: 110px;
	font-size: 9px;
	display: inline;
	padding: 3px 8px 3px 8px;
	margin: 5px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;"
}
.btn-red {
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #1a82f7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(
	#cf4a4a), to(
	#9f2222));
	background-image: -webkit-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -moz-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -ms-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -o-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #711e1e;
	box-shadow: 1px 1px 2px #bca4a4;
	color: #fff;
	line-height: 29px;
	display: block;
	cursor: pointer;
	opacity: 1;
	margin-top: 10px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
.btn-red:hover {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cf4444), to(#fc4040));
	background-image: -webkit-linear-gradient(top, #fc4040, #cf4444);
	background-image: -moz-linear-gradient(top, #fc4040, #cf4444);
	background-image: -ms-linear-gradient(top, #fc4040, #cf4444);
	background-image: -o-linear-gradient(top, #fc4040, #cf4444);
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#btn-start-bid {
	width: 108px;
	height: 29px;
	margin: 10px auto;
}

#auction-btns {
	width: 36px;
	float: left;
	margin: 5px 0 0 751px;
	position: absolute;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#btn-invite-auction {
	height: 41px;
	display: block;
	opacity: 0.6;
	cursor: pointer;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#btn-chat-auction {
	display: block;
	opacity: 0.6;
	cursor: pointer;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#btn-invite-auction:hover {
	opacity: 1;
	display: block;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#btn-chat-auction:hover {
	display: block;
	opacity: 1;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

.btn-bid-plus-tutorial {
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #1a82f7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(
	#cf4a4a), to(
	#9f2222));
	background-image: -webkit-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -moz-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -ms-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -o-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	text-shadow: 1px 1px 1px #711e1e;
	box-shadow: 1px 1px 2px #bca4a4;
	color: #fff;
	line-height: 29px;
	height: 25px;
	width: 25px;
	font-size: 12px;
	display: inline;
	padding: 3px 8px 3px 8px;
	margin: 5px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;"
}

#btn-bid-plus {
	width: 25px;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 0px;
	line-height: 25px;
}
#btn-bid-less {
	width: 25px;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-top: 3px;
	margin-right: 11px;
	line-height: 22px;
}
#auction-precap-bid {
	float: left;
	width: 102px;
	font-size: 22px;
}
#auction-precap-bid span {
	color: #b73232;
	font-weight: 600;
}

#auction-content {
	margin: -7px auto 0 5px;
	width: 782px;
	box-shadow: 0 0 16px #000;
	background-color: #f8f8f8;
	border-radius: 3px;
}
#auction-auctioneer {
	height: 89px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #999;
}

#auction-auctioneer .img {
	height: 80px;
	width: 95px;
	margin-left: 15px;
	float: left;
	margin-top: 10px;
}

#auction-auctioneer .img img {
	height: 79px;
	width: 76px;
}
#auctioneer-message {
	float: right;
	width: 615px;
	height: 52px;
	padding: 25px 18px 12px 29px;
	font-size: 13px;
	color: #6c6c6b;
	font-weight: 600;
	background-color: #dedede;
	margin-left: 6px;
	background-image: url("../images/grey-auctioneer-message.jpg");
	background-repeat: no-repeat;
	overflow-y: scroll;
}
#auctioneer-message p {
	font-size: 14px;
	font-weight: bold;
}
#auctioneer-message {

}

/*
 #auctioneer-message .token {
 background-color: #56a3c5;
 margin-left: 6px;
 background-image: url("../images/token-auctioneer-message.jpg");
 background-repeat: no-repeat;
 }
 #auction-auctioneer .items {
 background-color: #d83b3b;
 margin-left: 6px;
 background-image: url("../images/items-auctioneer-message.jpg");
 background-repeat: no-repeat;
 }
 */
#auctioneer-message .scroll {
	margin-top: -72px;
	position: absolute;
	margin-left: 591px;
}
#auctioneer-message .scroll img {
	position: absolute;
}
#auction-chat {
	width: 782px;
	margin: 0 auto 0 auto;
	min-height: 90px;
}
#auction-chat .chat-title {
	background-color: #6d84b4;
	border-bottom: none;
	height: 26px;
	line-height: 27px;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	padding-left: 55px;
}

#auction-chat .user {
	margin: 0 0 11px 0;
	height: 60px;
	border-top: 1px solid #cdcecf;
	background-color: #f2f2f2;
	padding-top: 6px;
}
#auction-chat .user .avatar {
	float: left;
	height: 50px;
	width: 50px;
}
#auction-chat .user .enter-text {
	font-size: 11px;
	color: #666;
	position: absolute;
	margin: 30px 0 0 52px;
}
#auction-chat .user .avatar img {
	border: 1px solid #9e9e9e;
}

#auction-chat .user .imput-txt {
	margin: 5px 0 0 0;
	width: 685px;
	height: 20px;
	float: left;
	border: 1px solid #ccc;
	font-size: 12px;
	outline: none;
	padding-left: 5px;
	line-height: 20px;
}

#auction-chat .user .imput-txt span {
	font-size: 12px;
	margin: 8px;
	font-style: italic;
}
#btn-chat-send {
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 60px;
	height: 50px;
	float: left;
	background-color: #1a82f7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2a2a2), to(#707070));
	background-image: -webkit-linear-gradient(top,#a2a2a2,#707070);
	background-image: -moz-linear-gradient(top,#a2a2a2,	#707070);
	background-image: -ms-linear-gradient(top,#a2a2a2,#707070);
	background-image: -o-linear-gradient(top,#a2a2a2,#707070);
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #666;
	box-shadow: 1px 1px 2px #bca4a4;
	color: #fff;
	line-height: 50px;
	display: block;
	cursor: pointer;
	opacity: 1;
	margin: 0 0 0 10px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	text-align: center;
}
#btn-chat-send:hover {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2a2a2), to(#a2a2a2));
	background-image: -webkit-linear-gradient(top,#a2a2a2,#a2a2a2);
	background-image: -moz-linear-gradient(top,#a2a2a2,	#a2a2a2);
	background-image: -ms-linear-gradient(top,#a2a2a2,#a2a2a2);
	background-image: -o-linear-gradient(top,#a2a2a2,#a2a2a2);
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#auction-chat .chat-list {
	max-height: 220px;
	min-height: 70px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 685px;
	margin: 0 auto;
}

#auction-chat .chat-list ul {
	direction: ltr;
}

#auction-chat .chat-list .line {
	border-top: 1px solid #eee;
	padding: 5px 0 0px 0;
	min-height: 37px;
	display: inline-block;
	width: 685px;
}
#auction-chat .chat-list .line .avatar {
	float: left;
}
#auction-chat .chat-list .line .avatar img {
	border: none;
}

#auction-chat .chat-list .line .txt {
	margin: 0 0 6px 10px;
	float: left;
	font-size: 11px;
	color: #646464;
	width: 580px;
}
#auction-chat .chat-list .line .txt p {
	font-size: 11px;
	color: #3b5998;
	margin-left: 0px;
	font-weight: 700;
}

#auction-play {
	background-image: url("../images/bkg-auction-play.png");
	width: 404px;
	height: 89px;
	float: left;
	margin: 2px 0 0 386px;
	position: absolute;
}

#auction-play .time-left {
	width: 150px;
	float: left;
	margin: 17px 0 0 0;
	color: #f3ec27;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
#auction-play .time-left p {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
#btn-bid-play {
	float: left;
	margin-left: 10px;
}
#auction-play .bids-left {
	width: 150px;
	float: left;
	margin: 17px 0 0 0;
	color: #fc5555;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
#auction-play .bids-left p {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

#auction-play .syncing {
	width: 400px;
	float: left;
	margin: 21px 0 0 0;
	color: #f3ec27;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
#content-wrapper .frame {
	width: 752px;
	margin: 21px auto;
	background-color: #fff;
	padding-bottom: 15px;
	box-shadow: 0 0 16px #000;
}
#content-wrapper .frame .title {
	background-color: #f1f1f1;
	height: 15px;
	border-bottom: 1px solid #dfdfdf;
	padding: 23px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #484848;
	line-height: 21px;
	text-shadow: 0px 1px 1px #fff;
}

#content-wrapper .frame .title span {
	text-transform: uppercase;
	font-weight: 300;
}

#content-wrapper .frame .faq {
	font-size: 13px;
	color: #6c6c6b;
	font-weight: 400;
	margin: 30px 40px 30px 36px;
}
#content-wrapper .frame .faq p {
	color: #484848;
	font-size: 15px;
	font-weight: 600;
	margin: 32px 0px 5px 0px;
}
#content-wrapper .frame .winners {
	margin-top: 15px;
}
#content-wrapper .frame .winners .winners-list {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	height: 78px;
	margin-top: -1px;
}
#content-wrapper .frame .winners .winners-list .date {
	border-right: 1px solid #e4e4e4;
	background-color: #f2f1f1;
	font-size: 12px;
	font-weight: 700;
	width: 90px;
	height: 100%;
	text-align: center;
	line-height: 83px;
	color: #646464;
	float: left;
}
#content-wrapper .frame .winners .winners-list .user {
	border-right: 1px solid #e4e4e4;
	background-color: #f9f9f9;
	font-size: 18px;
	font-weight: 400;
	width: 243px;
	height: 100%;
	line-height: 83px;
	color: #6c6c6b;
	float: left;
	white-space: nowrap;
}
#content-wrapper .frame .winners .winners-list .user img {
	margin-top: 19px;
	border: 1px solid #9e9e9e;
	margin-left: 18px;
	opacity: 0.9;
}

#content-wrapper .frame .winners .winners-list .user span {
	text-shadow: 0px 1px 1px #fff;
	vertical-align: 12px;
	margin-left: 5px;
}
#content-wrapper .frame .winners .winners-list .txt {
	border-right: 1px solid #e4e4e4;
	background-color: #f9f9f9;
	font-size: 11px;
	color: #646464;
	font-weight: 400;
	width: 280px;
	height: 100%;
	line-height: 0px;
	float: left;
	padding-left: 26px;
}
#content-wrapper .frame .winners .winners-list .txt p {
	font-size: 12px;
	color: #F36500;
	line-height: 44px;
	margin-top: 17px;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#content-wrapper .frame .winners .winners-list .txt span {
	color: #f36500;
	font-weight: 600;
}
#content-wrapper .frame .winners .winners-list .pic {
	width: 100px;
	float: left;
	height: 100%;
}
#content-wrapper .frame .winners .winners-list .pic img {
	margin: 4px 0 0 2px;
}

#content-wrapper .frame .items-won {
	margin-top: 15px;
}
#content-wrapper .frame .items-won .won-list {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	height: 78px;
	margin-top: -1px;
}
#content-wrapper .frame .items-won .won-list .date {
	border-right: 1px solid #e4e4e4;
	background-color: #f2f1f1;
	font-size: 12px;
	font-weight: 700;
	width: 90px;
	height: 100%;
	text-align: center;
	line-height: 83px;
	color: #646464;
	float: left;
}

#content-wrapper .frame .items-won .won-list .txt {
	border-right: 1px solid #e4e4e4;
	background-color: #f9f9f9;
	font-size: 11px;
	color: #646464;
	font-weight: 400;
	width: 200px;
	height: 100%;
	line-height: 0px;
	float: left;
	padding-left: 26px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#content-wrapper .frame .items-won .won-list .txt p {
	font-size: 14px;
	color: #313131;
	line-height: 33px;
	margin-top: 16px;
	font-weight: 600;
}
#content-wrapper .frame .items-won .won-list .txt span {
	color: #f36500;
	font-weight: 600;
}
#content-wrapper .frame .items-won .won-list .details {
	border-right: 1px solid #e4e4e4;
	background-color: #f9f9f9;
	font-size: 11px;
	color: #646464;
	font-weight: 400;
	width: 280px;
	height: 69%;
	line-height: 14px;
	float: left;
	padding-left: 26px;
	padding-top: 25px;
	padding-right: 15px;
	overflow-y: scroll;
}

#content-wrapper .frame .items-won .won-list .details a {
	font-weight: 600;
}
#content-wrapper .frame .items-won .won-list .pic {
	width: 110px;
	float: left;
	height: 100%;
}
#content-wrapper .frame .items-won .won-list .pic img {
	margin: 4px 0 0 2px;
}
#tooltip-help {

}
#tooltip-help .img {
	position: absolute;
	z-index: 10;
	top: -7px;
	left: 5px;
}
#tooltip-help .box {
	width: 385px;
	min-height: 90px;
	min-width: 430px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	background-image: url(../images/bkg-box.gif);
	background-repeat: repeat-y;
	background-position: left;
}
#tooltip-help .close {
	float: right;
	cursor: pointer;
	color: #484848;
	font-weight: 700;
	font-size: 16px;
	margin-right: 8px;
}
#tooltip-help .box .box-bkg {
	width: 60px;
	min-height: 82px;
	background-color: #666;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	position: absolute;
}

#tooltip-help .text {
	color: #6c6c6b;
	font-size: 12px;
	font-weight: 700;
	margin: 21px 0 20px 95px;
	width: 305px;
	text-align: center;
	min-height: 49px;
}
#tooltip-help .text p {
	color: #f36500;
	font-size: 14px;
	font-weight: 700;
}
#overlay-tutorial {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	bottom: 0;
	z-index: 1000;
	vertical-align: middle;
	text-align: center;
	display: none;
	background-image: url(/static/images/bkg-body2.jpg);
}
#overlay-tutorial .logo {
	margin: 0 auto;
	width: 293px;
	padding-top: 25px;
}
#overlay-tutorial .title {
	background-color: #f1f1f1;
	height: 15px;
	width: 850px;
	border-bottom: 1px solid #dfdfdf;
	padding: 23px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #484840;
	line-height: 21px;
	margin: 20px auto 0 auto;
	text-align:left;
	text-shadow: 0px 1px 1px #fff;
}
#overlay-tutorial .title .close {
	float:right;
	cursor: pointer;
}
#overlay-tutorial .title h1 {
	color: #484848;
	font-size: 18px;
	text-transform: uppercase;
}
#btn-tutorial {
	text-align: center;
	display: block;
	margin-left: 60px;
	cursor: pointer;
}
#btn-tutorial:hover {
	opacity: 0.8;
}
#welcome {
	background-image: url(../images/welcome.png);
	width: 810px;
	height: 683px;
	z-index: 10000;
}

#welcome .btn-welcome {
	width: 320px;
	height: 51px;
	background-image: url(../images/btn-welcome.png);
	margin: 10px auto 0 239px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	position: absolute;
	text-align: center;
	line-height: 50px;
}
#welcome .text {
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	margin: 190px auto 0 auto;
	width: 500px;
}
#welcome .text p {
	color: #f36500;
	font-size: 19px;
	font-weight: 700;
}

.bidEnabled {
	background-image: url("/static/images/btn-bid-play.png");
	width: 94px;
	height: 94px;
}
.bidDisabled {
	background-image: url("/static/images/btn-bid-play-disabled.png");
	width: 94px;
	height: 94px;
}
.btnRedEnabled {
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #1a82f7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(
	#cf4a4a), to(
	#9f2222));
	background-image: -webkit-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -moz-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -ms-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	background-image: -o-linear-gradient(top,
	#cf4a4a,
	#9f2222);
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #711e1e;
	box-shadow: 1px 1px 2px #bca4a4;
	color: #fff;
	line-height: 29px;
	display: block;
	cursor: pointer;
	opacity: 1;
	margin-top: 10px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
.btnRedDisabled {
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #1a82f7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aeaeae), to(#7b7b7b));
	background-image: -webkit-linear-gradient(top,
	#aeaeae,
	#7b7b7b);
	background-image: -moz-linear-gradient(top,
	#aeaeae,
	#7b7b7b);
	background-image: -ms-linear-gradient(top,
	#aeaeae,
	#7b7b7b);
	background-image: -o-linear-gradient(top,
	#aeaeae,
	#7b7b7b);
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #711e1e;
	box-shadow: 1px 1px 2px #bca4a4;
	color: #fff;
	line-height: 29px;
	display: block;
	cursor: pointer;
	opacity: 1;
	margin-top: 10px;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

#btn-invite-auction.disabled {
	height: 41px;
	display: block;
	opacity: 0.6;
	cursor: auto;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#btn-chat-auction.disabled {
	display: block;
	opacity: 0.6;
	cursor: auto;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
#top .buttons .invite.disabled {
	width: 126px;
	height: 38px;
	float: right;
	background-image: url("../images/btn-invite-disabled.png");
	display: block;
	background-repeat: no-repeat;
	background-position: 10px 0;
	opacity: 0.8;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	cursor: auto;
}
#top .buttons .like.disabled {
	width: 87px;
	height: 24px;
	margin-bottom: 3px;
	background-image: url("../images/btn-test-disabled.png");
	display: block;
	background-repeat: no-repeat;
	background-position: -10px 0;
	opacity: 0.8;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	cursor: auto;
}
.pagination {
	width: 100%;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
}
.pagination ul {
	margin: 0 auto;
	text-align: center;
}
.pagination li {
	font-size: 13px;
	display: inline;
	margin-left: 5px;
	list-style-type: none;
}