{% extends "base_section.html" %}

{% block title %}Change or add email{% endblock %}
{% block contentheader %}Change or add email{% endblock %}

{% block sectioncontent %}
	<div class="change_email gray_text float_left">
        {% for message in messages %}
        <p class="user_message">{{ message }}</p>
        {% endfor %}
        <p>You need to have at least one confirmed email attached to your account to start bidding.</p>
        <p>If you didn't receive a confirmation letter, make sure to look into the "Spam" folder, and try to add info@yambid.com to your whitelist.</p>
        <p>You can also try to resend the confirmation letter with a "Confirm" button, or try to attach different email address.</p>
        <p><a href="{% url emailmanagement_create %}" class="blue_button"><span class="confirm_button_width">Add an email</span></a></p><br/>
        <div class="ten_height_spacer"><!-- --></div>
        <div class="form_gray_bg ie7_form_gray_bg">
            <div class="email_confirm_block email_address">
                &nbsp;<b>Email address</b>
            </div>
            <div class="email_confirm_block confirm_status">
                <b>Confirmed</b>
            </div>
        </div>
        {% for email in emails %}
        <!-- Email line -->
        <div class="form_gray_bg form_no_bg">
            <div class="email_confirm_block email_address">
                &nbsp;{{ email.email }}
            </div>
            <div class="email_confirm_block confirm_status">
                {% if email.verified %}
                <img src="/static/images/confirmed_email.png" width="24" height="24" alt="Email confirmed"/>
                {% else %}
                <img src="/static/images/not_confirmed_email.png" width="24" height="24" alt="Email not confirmed"/>
                {% endif %}
            </div>
            <div class="email_confirm_block confirm_button">
            {% if not email.verified %}
                <a href="{% url emailmanagement_confirm email.id %}" class="blue_button"><span class="confirm_button_width">Confirm</span></a>
            {% else %}
            {% if not email.primary %}
                <a href="{% url emailmanagement_set_as_primary email.id %}" class="blue_button"><span class="confirm_button_width">Make primary</span></a>
            {% endif %}	
            {% endif %}
            </div>
            <div class="email_confirm_block delete_button">
            {% if not email.primary %}
                <a href="{% url emailmanagement_delete email.id %}" class="blue_button"><span class="confirm_button_width">Delete</span></a>
            {% endif %}	
            </div>
        </div>
        <!-- End email line -->
        {% endfor %}
	</div>
{% endblock %}
