{% extends "base_section.html" %}

{% block title %}Make primary{% endblock %}
{% block contentheader %}Make primary{% endblock %}

{% block sectioncontent %}
            <form action="." method="post" class="registration_form">{% csrf_token %}
                  <p class="confirmation_message">Are you sure you want to make an <b>{{ email.email }}</b> your primary email?
                  <button class="login_button" type="submit" name="confirm">
                  <span>Confirm</span>
                  </button></p>
            </form>
{% endblock %}
