{% load routines_tags  %}
<section id="chat-{{auction.id}}" class="chat">
	<header>Live Chat:</header>
		<section id="chat_input_{{auction.id}}" {% if not can_chat %}style="display:none;"{% endif %} class="message">
			<div class="img"><img src="{{ user.picture|safe }}"></div>
			<div class="name">{{ user.display_name }}:</div>
			<div class="text">
				<textarea id="msg_form_{{auction.id}}" placeholder="Your message" type="text"></textarea>
			</div>
			<div class="btn" onclick="send_chat_message({{auction.id}});">Send</div>
		</section>
	{% for message in messages %}
		<section class="message">
			{% if message.user.user_link %}
			<div class="img"><a href="{{ message.user.user_link}}" target="_blank"><img src="{{ message.user.picture|safe }}"></a></div>
			<div class="name fb_link"><a href="{{ message.user.user_link}}" target="_blank">{{ message.user.display_name }}</a></div>
			{% else %}
			<div class="img"><img src="{{ message.user.picture|safe }}"></div>
			<div class="name fb_link"><a>{{ message.user.display_name }}</a></div>
			{% endif %}
			<div class="text">{{ message.format_message|safe }}</div>
			<div class="date-time">{{ message.get_time }}</div>
		</section>
	{% endfor %}
		
</section>