{% load routines_tags %}
    <!-- Chat -->
    <div class="blue_header_left"></div>
    <div class="blue_header_right"></div>
    <div class="blue_header ie_blue_header item_header"><a href="/chatregulation/">Chat</a></div>
    <div class="gray_window_bg chat_bg" id="chat">
        <div class="three_height_spacer"><!-- --></div>
        <div class="chat_window" id="messages">
            {% for message in messages %}
            <!-- Chat message -->
            <div class="chat_avatar" style="background:transparent url('{% if message.user %}{{ message.user.picture|safe }}{% else %}{{ message.avatar|safe }}{% endif %}') center center no-repeat;"></div>
            <span class="chat_date">{{ message.get_time }}</span><br/>
            <span class="chat_username">{% if message.user %}{{ message.user.display_name }}{% else %}{{ message.username }}{% endif %}</span>
            <p class="chat_message">{{ message.text|truncatechars }}</p>
            <div class="chat_message_divider"><!-- --></div>
            <!-- End Chat message -->
            {% endfor %}
        </div>
        {% if user.is_authenticated and not user.get_profile.remove_from_chat %}
        
        <!-- Input field -->
        <div class="chat_input">
            <a title="Send Message" onclick="send_chat_message(); return false;" href="#"></a>
            <textarea id="msg_form" cols="5" rows="3"></textarea>
        </div>
        <div class="five_height_spacer"><!-- --></div>
        <!-- End input field-->

        <div class="private_chat">
            <a href="#" id="tab_messages" onclick="activate_chat_room('messages'); return false;" class="chat_blue_button chat_blue_button_active chat_room_button"><span>Main chat room</span></a>
            <div class="clear_both"><!-- --></div>
        </div>

    <script type="text/javascript">
       function send_chat_message() {
           var chatroom = $('.private_chat .chat_blue_button_active').attr('id').substr(4);
           var text = $('#msg_form').val()
           if (text) {
               var data = {'message':text{% if user.is_staff %}{% comment %}, 'user':user{% endcomment %}{% endif %}};
               if (chatroom!='messages') {
                   data['chatroom_id']=chatroom;
               }
               $.post('{% url chat_send_message %}', data, function(data) { $('#msg_form').val(''); }, "json");
               }
       }
       window.onload=function() {
           $('#msg_form').keydown(function(e) {
                if(e.keyCode == 13) {
                     send_chat_message(); 
                     return false;
                }
           });
       }
    </script>
{% endif %}
</div>
<div class="gray_left_corner chat_bg_left_corner"><!-- --></div>
<div class="gray_right_corner chat_bg_right_corner"><!-- --></div>
<div class="gray_bar chat_bg_blue_bar ie_blue_header"><!-- --></div>
<!-- End Chat -->
