{% extends "base_orbited.html" %}
{% load routines_tags thumbnail chat_tags bidding_tags %}

{% block outcontent %}

	<div class="breadcrumbs">
		<a href="{% url bidding_home %}">All Auctions</a> &rsaquo; <span class="title">{{ auction.item.name }}</span>
		{% if auction.status == 'precap' %}
		<a id="leave_{{auction.id}}" {% if not user|has_joined:auction %}style="display:none;"{% endif %} href="#" class="quit" onclick="leave_auction('{% url bidding_leave_auction %}', {{ auction.id }});">Leave Auction</a>
		{% endif %}
	</div>
	
	<ul class="details-selector">
		<li class="tab-item auction-details selected" onclick="showTab('auction-details');">Details</li>
		<li class="tab-item product-description" onclick="showTab('product-description');">Description</li>
		{% if auction.item.specification %}<li class="tab-item product-specifications" onclick="showTab('product-specifications');">Specifications</li>{% endif %}
		<div id="status_container"></div>
	</ul>

	<div class="auction-item-details">
		<!-- Auction Item -->
		<section class="item">

			<!-- Details: Image, Details, Description, Specs -->
			<div class="details">
				<div class="preview">
					<h1>{{ auction.item.name }}</h1>
					{% thumbnail auction.item.itemimage_set.all.0.image.name "202x202" as thumb %}
					<img src="{{thumb.url}}" alt="{{ auction.item.name }}" />
					{% endthumbnail %}
				</div>
				<div class="specs" >
					<div class="tab-content auction-details active">
						<h1>Auction Details</h1>
						<p>Retail price: ${{auction.item.retail_price}}</p>
						{% if auction.item.category %}<p>Category: {{auction.item.get_category_display}}</p>{% endif %}
						<p>This auction uses <b>{% if auction.bid_type == 'token' %}tokens{% else %}bids{% endif %}</b>.</p>
						<p>Auction requires a minimum of {{ auction.minimum_precap}} {% if auction.bid_type == 'token' %}tokens{% else %}bids{% endif %} to join.</p>
						<p>Auction will start 5 minutes after completion.</p>
					</div>
					<div class="tab-content product-description">
						<h1>Product Description</h1>
						<p>{{ auction.item.description }}</p>
					</div>
					
					<div class="tab-content product-specifications">
						<h1>Product Specifications</h1>
						<p>
							{{ auction.item.specification }}
						</p>
					</div>
										
				</div>
				<div class="clear"></div>
			</div> <!-- Details: Image, Details, Description, Specs -->
			
			<div id="auct_{{auction.id}}" class="details_container">
			{% if auction.status == 'precap' %}
				{% include 'bidding/detail/detail_precap.html' %}
			{% endif %}
			{% if auction.status == 'waiting' %}
				{% include 'bidding/detail/detail_waiting.html' %}
			{% endif %}
			{% if auction.status == 'processing' %}
				{% include 'bidding/detail/detail_running.html' %}
			{% endif %}
			{% if auction.status == 'waiting_payment' or auction.status == 'paid'  %}
				{% include 'bidding/detail/detail_finished.html' %}
			{% endif %}
			{% if auction.status == 'pause' %}
				{% include 'bidding/detail/detail_paused.html' %}
			{% endif %}
			</div>
			
			<!-- Participants -->
			<div id="participants_container">
				{% include 'bidding/detail/participants.html' %}
			</div>
			
			<!-- Chat -->
			{% embed_chat user auction 50 %}
			<!-- Chat -->

		</section> <!-- Item -->

	</div> <!-- auction-item-details -->
	
	<br/>
	{% if suggested %}
	<div class="auction-selector">
		<ul>
			<li onclick="$('.real-items').hide(); $('.earn-chips').show(); $('.real-items-selector').removeClass('selected'); $('.earn-chips-selector').addClass('selected'); " class="earn-chips-selector selected">You may like</li>
		</ul>
	</div>
	
	<section class="auctions earn-chips">

		<!-- Auction List -->
		<div class="auction-list running">

			<section class="my-upcoming-auctions">
				<!-- Upcoming Auction -->
				<section class="item upcoming">
					<header class="header">
						<a href="{% url bidding_auction_detail suggested.item.slug,suggested.id %}">{{ suggested.item.name }}</a> / Retail price: ${{ suggested.item.retail_price|stringformat:"4.2f" }}
					</header>
					<div class="details">
						<div class="preview">
							<a href="{% url bidding_auction_detail suggested.item.slug,suggested.id %}">
								<img src="{% thumbnail suggested.item.itemimage_set.all.0.image.name "70x70" as thumb%}{{thumb.url}}{% endthumbnail%}" alt="">
							</a>
						</div>
						<div class="controls">
							<header class="header"><br/>
							</header>
							<section class="value">
								<div class="btn" onclick="window.location.href='{% url bidding_auction_detail suggested.item.slug,suggested.id %}'">Join!</div><br/>
								<a href="#" onclick="sendRequestViaMultiFriendSelector({{suggested.id}}, '{{suggested.item.name}}', {% url fb_invite %})">Invite Friends</a>
							</section>
						</div>
						<div class="status">
							<header class="header">Completion</header>
							<section class="value">{{ suggested.completion }}% / {{ suggested.bidders.all|length }} Bidders</section>
						</div>
					</div>
				</section>
			</section>

		</div> <!-- Auction List -->
	</section>
	{% endif %}
	
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/auctions_old.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/auctions_update.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/auctions_detail.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/participants.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookies.js' %}"></script>
    
<script type="text/javascript">

	function showTab(tab) {
		var tabContent = '.tab-content';
		var tabItem = '.tab-item';

		// Select / Deselect Tab Item
		$(tabItem).removeClass('selected');
		$(tabItem + '.' + tab).addClass('selected');

		// Select / Deselect Tab Content
		$(tabContent).removeClass('active');
		$(tabContent + '.' + tab).addClass('active');
	}

</script>

<script type="text/javascript">
        
        //FIXME refactor, case unnecesary
        function perform_action(message) {
        	
           message = $.secureEvalJSON(message);
           var msg_type = message[0];
           switch (msg_type) {
	           case "time":
	        	   set_time_data(message[1].time, '.details_container');
	             break;    
	           case "chat":
                 var message_element = auct_chat(message[1], 50);
                 break;
               default:
                 console.log(message);
           }
        }
        var sessionid = $.cookies.get('sessionid');
        var stomp = new STOMPClient();
        stomp.onopen = function() {
           console.log("Transport opened");
        }
        stomp.onclose = function(code) {
           console.log("Transport closed %s", code);
           setTimeout("stomp.connect('{{ ORBITED_DOMAIN }}', 61613, sessionid, '')",1000);
        }
        stomp.onconnectedframe = function(frame) {
           console.log("Connected frame: %s", frame.body);
           stomp.subscribe('/topic/auction/', {exchange:''})
           stomp.subscribe('/topic/detail/{{auction.id}}/', {exchange:''})
           stomp.subscribe('/topic/online/', {exchange:''})
           stomp.send('{"user":"connected"{% if user.is_authenticated %}, "username":"{{ user.username }}"{% endif %}}', '/topic/check_online/');
           
           {% if user.is_authenticated %}
           stomp.subscribe('/topic/user/{{ user.get_profile.id }}/', {exchange:''})
           {% endif %}
           
        };
        stomp.onerror = function(error) {
           console.log("Error: %s", error)
        }
        
        stomp.onmessageframe = function(frame) {
           console.log("Message frame: ", frame.body);
           if (frame.headers.destination=='/topic/auction/') {
        	   perform_action(frame.body);
           }
           if (frame.headers.destination=='/topic/detail/{{auction.id}}/') {
        	   message = $.secureEvalJSON(frame.body);
        	   var msg_type = message[0];
               switch (msg_type) {
               		case "update":
               			detail_update(message[1]);
                 	   
                 	   {% if not user.is_authenticated %}
         	           $('.controls').hide();
         	           {% endif %}
         	           break;
               		case "join":
               			add_participant(message[1]);
               			break;
               		case "leave":
               			remove_participant(message[1]);
               			break;
               }
        	   
        	   
           }           
           if (frame.headers.destination=='/topic/online/') {
               stomp.send('{"sessionid":"'+sessionid+'"{% if user.is_authenticated %}, "username":"{{ user.username }}"{% endif %}}', '/topic/check_online/');
           }
           
           {% if user.is_authenticated %}
           if (frame.headers.destination=='/topic/user/{{ user.get_profile.id }}/') {
        	   
        	   message = $.secureEvalJSON(frame.body);
        	   if (message[0]=="update" && message[1].auction_id == {{ auction.id }}) {
        		   //FIXME shouldnt be calling the specific for detail?
        		   detail_update_bids_left(message[1].left);
               }
           }
           {% endif %}
        }
        
        console.log('Open connection');
        stomp.connect('{{ ORBITED_DOMAIN }}', 61613, sessionid, '');
	

        function disconnect_message() {
            stomp.send('{"user":"disconnected"{% if user.is_authenticated %}, "username":"{{ user.username }}"{% endif %}}', '/topic/check_online/')
        }
        window.onbeforeunload = function() {
            disconnect_message();
         };
        $(window).unload(function() {
            stomp.reset();
        })
        
         function sync() {
            $.get('{% url bidding_auct_timers auction.id %}', {}, function(data) {
            	set_time_data(data.time, '.details_container');
              	
            	//when is not authenticated, hide the controls
            	{% if not user.is_authenticated %}
            	$('.controls').hide();
            	{% endif %}
            	
            	
            }, "json");
        }

        setInterval("update_detail_timer()", 500);
        $(document).ready(function() {
            sync();
        });

    </script>
    
    <script type="text/javascript">
       function send_chat_message(auction_id) {
           var text = $('#msg_form_' + auction_id).val();
           if (text) {
               var data = {'message':text, 'auction_id' : auction_id};
               $.post('{% url chat_send_message %}', data, function(data) { $('#msg_form_' + auction_id).val(''); }, "json");
               }
       }
       $(function() {
    	   $('.chat').addClass('active');
    	   show_edit_bids();
    	   set_status('{{ auction.status }}');
    		   
   		   $('[id^="msg_form"]').each( function() {
       	   $(this).keydown(function(e) {
                  if(e.keyCode == 13) {
                  	var array = $(this).attr('id').split('_');
                  	var id = array[array.length-1];
                      send_chat_message(id); 
                      return false;
                  }
          		});
          });
       });
    </script>
{% endblock %}
