{% load bidding_tags %}

<div class="details">
	<div class="status bidder">
		<header class="header">Last Bidder</header>
		<section class="value">{% with auction.get_last_bidder as bidder %}{% if bidder %}{{ bidder|fb_link }}{% else %}Be the first!{% endif %}{% endwith %}</section>
	</div>
	<div class="price">
		<header class="header">
			Price
		</header>
		<section class="value">
			${{ auction.price|stringformat:"4.2f" }}
		</section>
	</div>

	<div class="time-left">
		<header class="header">
			Time Left
		</header>
		<section class="value">
			<span class="tick_time">{{ auction.get_time_left|minutes_from_seconds }}</span>
		</section>
	</div>

	<div class="controls" {% if not user|has_joined:auction %}style="display:none;"{% endif %}>
		<header class="header">
			 <span class="bids_left">{{ user|user_bids:auction }}</span> {% if auction.bid_type == 'token' %}Tokens{% else %}Bids{% endif %} left
		</header>
		<section class="value">
			<div class="btn" onclick="bid('{% url bidding_bid %}', {{ auction.id }}, '#'); this.blur(); return false;">Bid</div>
		</section>
	</div>
	<div class="clear"></div>
</div> <!-- Details: Status, Controls -->
