{% load bidding_tags %}

<div class="details">
	
	<div class="status bidder">
		<header class="header">Winner</header>
		<section class="value">{% with auction.get_last_bidder as bidder %}{% if bidder %}{{ bidder|fb_link }}{% else %}Be the first!{% endif %}{% endwith %}</section>
	</div>
	
	<div class="price">
		<header class="header">
			Price
		</header>
		<section class="value">
			${{ auction.price|stringformat:"4.2f" }}
		</section>
	</div>
	
	<div class="clear"></div>
</div> <!-- Details: Status, Controls -->
