{% extends "base_section.html" %}

{% load markup thumbnail bidding_tags %}

{% block title %}{{ auction.item.name }}{% endblock %}
{% block contentheader %}{{ auction.item.name }}{% endblock %}

{% block graywindowcontent %}
    <!-- Item description -->
    <div class="item_description gray_text">
        <div class="ten_height_spacer"><!-- --></div>
        <div class="gray_header_left"></div>
        <div class="gray_header_right"></div>
        <div class="gray_header no_margin_ie6">Item picture:</div>
        <div class="white_window_bg">
			<div class="ten_height_spacer"><!-- --></div>
            <div class="item_description_pictures">
                <!-- Up to 3 images 202x202px. Must be square. -->
                {% for image in auction.item.itemimage_set.all %}
                    <img src="{% thumbnail image.image.name "202x202" as thumb%}{{thumb.url}}{% endthumbnail%}" alt="{{ auction.item.name }}" />
                {% endfor %}
            </div>
            <p>
                Auction timer:&nbsp;{{ auction.get_time_left|minutes_from_seconds }}<br/>
                Price:&nbsp;${{ auction.price|stringformat:"5.2f" }}<br/>
                Retail price:&nbsp;${{ auction.item.retail_price|stringformat:"5.2f" }}<br/>
                Winner:&nbsp;<b class="green_text">{{ auction.winner.get_profile.display_name }}</b>
            </p>
            <fieldset>
                <legend><b>Item descroption</b></legend>
                {{ auction.item.description|markdown }}
            </fieldset>
            <div class="ten_height_spacer"><!-- --></div>
        </div>
        <div class="white_left_corner"><!-- --></div>
        <div class="white_right_corner"><!-- --></div>
        <div class="white_bar no_margin_ie6"><!-- --></div>
    </div>
    <!-- End item description -->
    <div class="clear_both"><!-- --></div>
    <div class="ten_height_spacer"><!-- --></div>
{% endblock %}
