{% extends "base.html" %}

{% block extrajs %}
<script type="text/javascript">
    document.domain = document.domain;
</script>
<script type="text/javascript" src="{{ ORBITED_PROTOCOL }}://{{ ORBITED_DOMAIN }}:{{ ORBITED_PORT }}/static/Orbited.js"></script>
<script type="text/javascript">
    $(function(){
    TCPSocket = Orbited.TCPSocket;
    Orbited.settings.port = {{ ORBITED_PORT }};
    Orbited.settings.hostname = '{{ ORBITED_DOMAIN }}';
    if ($.browser.safari || $.browser.msie || $.browser.opera) {
        Orbited.settings.streaming = false;
    }
    Orbited.settings.protocol = "{{ ORBITED_PROTOCOL }}";
    })
</script>

<script type="text/javascript" src="{{ ORBITED_PROTOCOL }}://{{ ORBITED_DOMAIN }}:{{ ORBITED_PORT }}/static/protocols/stomp/stomp.js"></script>
{% endblock %}
