<!DOCTYPE html>
<html>
 <head prefix=
    "og: http://ogp.me/ns# 
     fb: http://ogp.me/ns/fb# 
     product: http://ogp.me/ns/product#">
    <meta property="og:type"                   content="og:product" />
    <meta property="og:title"                  content="{{package.title}}" />
    <meta property="og:plural_title"           content="{{package.title}}" />
    <meta property="og:description"            content="{{package.description}}" />
    <meta property="og:url"                    content="{{url_domain}}bid_package/{{package.id}}" />
    <meta property="product:price:amount"      content="{{package.price}}"/>
    <meta property="product:price:currency"    content="USD"/>
  </head>
</html>