<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta property="og:type"            content="Game" /> 
		<meta property="og:url"             content="{{ app_url }}" /> 
		<meta property="og:title"           content="{{ share_title }}" />
		<meta property="og:site_name"       content="{{ site_url }}" />
		<meta property="og:description"     content="{{ share_description }}" />
		<script type='text/javascript'>
 			top.location.href="{{ authorization_url|safe}}";
 		</script>
	</head>
<body>

</body>
