<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
        <title>Ibid test item</title>
        <meta property="fb:app_id" content="400191906769007" />
        <meta property="og:title" content="Test Item" />
        <!--<meta property="og:image" content="" />-->
        <meta property="og:url" content="http://ibid.sytes.net/fb_test_item" />
        <meta property="og:type" content="product" />


        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
        <div id="wrapper">
            <h1>Ibid test item</h1>
            <table border="0" cellspacing="0">
                                                            <tr>
              <th class="key">og:title</th>
              <td class="value">Test Item</td>
              </tr>
                                                            <tr>
              <th class="key">og:url</th>
              <td class="value">http://ibid.sytes.net/fb_test_item</td>
              </tr>
                                                            <tr>
              <th class="key">og:type</th>
              <td class="value">product</td>
              </tr>
                                          </table>
        </div>
    </body>
</html>
