{% load staticfiles %}
<!DOCTYPE html>

<html ng-app="app" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>iBidGames</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
		<link rel="stylesheet" href="{% static 'css/modals.css' %}">
		<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
		<!---->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,500,600,700,800' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script src="{% static 'js/lodash.min.js' %}"></script>
	<script src="{% static 'js/lib/jquery.json-2.2.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.center.js' %}"></script>
        <script src="{% static 'js/lib/TweenMax.min.js' %}"></script>
        <script src="{% static 'js/base_header.js' %}"></script>
	<script src="{% static 'js/auctions.js' %}" ></script>
	<script src="{% static 'js/services.js' %}"></script>
	<script src="{% static 'js/directives.js' %}"></script>
	<script src="{% static 'js/messages.js' %}" ></script>
	<script src="{% static 'js/global-chat.js' %}"></script>
	<script src="{% static "js/app.js" %}" ></script>
	<!--include analythics.js -->
	<script src="{% static 'js/analytics.min.js' %}"></script>
	</head>

	<body>
		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=148728218610989";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

				angular.element(document).ready(function() {
				  angular.bootstrap(document, ["app"]);
				  hideOverlay();
				});
		</script>
		<div id="main-wrapper">
			<div  id="top-wrapper">
				<div id="top">

					<div class="buttons">
						<a href="#"><div class="invite"></div></a>
						<a><div class="like"></div></a>
						<a href=" https://www.facebook.com/sharer/sharer.php?u=https://apps.facebook.com/ibidgames/" target=_blank ><div class="share"></div></a>

					</div>
					<div class="logo">
						<a href="index.html"><img src="{% static 'images/logo.png' %}" width="293" height="105"></a>
					</div>
				</div>

                <div id="user-info" ng-controller="userDetailsCtrl" ng-init="initialize('{{MIXPANEL_KEY}}')">
					<div class="avatar"><img ng-src="{% templatetag openvariable %}user.profileFotoLink{% templatetag closevariable %}" width="50" height="50">
					</div>
					<div class="name">
						{% templatetag openvariable %}user.displayName{% templatetag closevariable %}
					</div>
					<div class="menu">
						<ul>
							<li>
								<a href="/won_list/">Won Items</a>
							</li>
							<li style="display: none;">
								<a href="">Auctions</a>
							</li>
							<li style="display: none;">
								<a href="#">Currency history</a>
							</li>
						</ul>
					</div>
					<div class="tokens">
						TOKENS: {% templatetag openvariable %}user.tokens{% templatetag closevariable %}
					</div>
					<div class="credits" style="">
						CREDITS: {% templatetag openvariable %}user.credits{% templatetag closevariable %}
					</div>
					<div class="btn-credits" style=""></div>
				</div>
			</div>

			<div id="menu-wrapper">
				<div id="menu">
					<a href="{% url 'canvashome' %}"><div class="btn-tokens"></div></a>
					<a href="{% url 'canvashome' %}"><div class="btn-items"></div></a>
					<div class="links">
						<ul>

							<li >
								<a href="/faq/">FAQS</a>
							</li>
								&nbsp; &nbsp;|&nbsp; &nbsp;
							<li>
								<a href="/winners/">Winners</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <div class="color-frame-tokens"></div>
			<div id="content-wrapper">
				<div class="color-frame-tokens"></div>
				<div class="frame">
    {% block graywindowcontent %}
    {% block sectioncontent %}
    {% endblock %}
    <div class="clear_both"><!-- --></div>
    <div class="ten_height_spacer"><!-- --></div>
	{% endblock %}

				</div>

			</div>

		</div>

<!--popup section-->
<!--buy credits popup-->
<div class="buy-bids-popup" style="z-index:1001;">
    <div class="popup">
        <div class="title">
            <span class="close">×</span>
            <img style="position: absolute; top: -14px; left: -33px; opacity:8; width: 70px; height: 70px;"
                 src="{% static 'images/credits-big.png' %}">
            <h1>You can buy Credits:</h1>
        </div>
        {% for package in packages %}
        <section>
            {% if package.description %}<span class="save">{{ package.description }}</span>{% endif %}
            <div class="btn" onclick="buy_bids({% url "place_order" %}, {{ package.id }})">
                {{ package.title }}
            </div>
        </section>
        {% endfor %}

        <!--hr>

        <h1>You can convert Tokens to Credits:</h1>
        <p class="comment">
        You have <b class="number"><span id="convertible_tokens">{{ user.tokens_left }}</span></b>
        Tokens and you can convert it up to
        <b class="number"><span id="maximun_bidsto">{{ user.maximun_bids_from_tokens }}</span></b> Credits.<br>
        Please select the required amount of Credits.
        </p>
        <div class="warning"></div>
        <section>
        <select id="tokens_to_convert">
        {%  for conv in user.gen_available_tokens_to_bids %}
        <option value={{ conv }}>{{ conv }}</option>
        {% endfor %}
        </select>
        Credits
        <div class="btn" onclick="convertChips()">Convert Now</div>
        </section-->
    </div>
</div>

<div id="overlay" style="position:absolute;
		top:0;
		left:0;
		right:0;
		opacity:0;
		bottom:0;
		background-color:rgba(0, 0, 0, 0.5);
		z-index:1000;
		display:none;"></div>


		
	</body>

</html>
