.popup
  .title {{title}}
  .content(ng-transclude)
  .buttons
    .btn.btn-green Continue Bidding!
  a.close ×
  img.kenny(src='/static/images/kenny-auction-left.png')
  img.prize(src='/static/images/prize-medium.png')
  .gloss
