{% extends "base_section.html" %}

{% block title %}Email has been confirmed{% endblock %}
{% block contentheader %}Email has been confirmed{% endblock %}

{% block sectioncontent %}
            <div class="ten_height_spacer"><!-- --></div>
            <div class="registration_form confirmation_message">
            	<h2 class="red_text">Congratulations!</h2>
                {% if bids_added %}
				<p>Your Email <b>{{ email_address.email }}</b> has been confirmed. 
                We have added your Free Bids to your account.
                </p>
				<p><a href="/accounts/login/">Login now to start bidding!</a></p>
                {% else %}
                <p>An email <b>{{ email_address.email }}</b> has been successfully confirmed!
                You may now return to the <a href="/">Home page</a></p>
                {% endif %}
            </div>
{% endblock %}
