{% extends "base_section.html" %}

{% block title %} -Reset password{% endblock %}
{% block contentheader %}Reset password{% endblock %}

{% block sectioncontent %}
	<div class="ten_height_spacer"><!-- --></div>
    <form action="." method="post" name="reset_password_form" class="registration_form">{% csrf_token %}
	   <div class="form_gray_bg">
			<div class="form_label">
				<label for="id_email">Your Email:</label>
	   		</div>
			<div class="red_cross">  </div>
	   		<div class="form_input">
			    {{ form.email }}	
       		</div>
            {% if form.email.errors %}
            <span class="custom_error">{{ form.email.errors|join:", " }}</span>
            {% endif %}
	   </div>
       <button class="login_button" type="submit" name="confirm">
			<span>Reset</span>
	   </button>
    </form>
{% endblock %}
