{% extends "base_section.html" %}

{% block contentheader %}Change your password{% endblock %}

{% block extracss %}
{{ base.super }}
<style type="text/css">
    .change_email p {
        text-align: right;
    }
</style>
{% endblock %}

{% block sectioncontent %}
<div class="ten_height_spacer"><!-- --></div>
<div class="ten_height_spacer"><!-- --></div>
<form action="." method="post" name="change_password_form" class="registration_form">{% csrf_token %}
	<div class="form_gray_bg">
		<div class="form_label change_password_label">
			<label for="id_old_password">
				Old password:
			<label>
		</div>
		<div class="red_cross"> * </div>
		<div class="form_input change_password_input">
		     {{ form.old_password }}	
		</div>
        {% if form.old_password.errors %}
        <label class="form_error">{% for error in form.old_password.errors %}{{ error }} {% endfor %}</label>
        {% endif %}
	</div>
	<div class="form_gray_bg form_no_bg">
		<div class="form_label change_password_label">
			<label for="id_new_password1">
				New password:
			<label>
		</div>
		<div class="red_cross"> * </div>
		<div class="form_input change_password_input">
		    {{ form.new_password1 }}	
		</div>
        {% if form.new_password1.errors %}
        <label class="form_error">{% for error in form.new_password1.errors %}{{ error }} {% endfor %}</label>
        {% endif %}
	</div>
	<div class="form_gray_bg">
		<div class="form_label change_password_label">
			<label for="id_new_password2">
				New password confirmation:
			<label>
		</div>
		<div class="red_cross"> * </div>
		<div class="form_input change_password_input">
		    {{ form.new_password2 }}	
		</div>
        {% if form.new_password2.errors %}
        <label class="form_error">{% for error in form.new_password2.errors %}{{ error }} {% endfor %}</label>
        {% endif %}
	</div>
	<button class="login_button" name="confirm" type="submit">
		<span>Change password</span>
	</button>
</form>
{% endblock %}
